[2020-10-29 21:58] ChrisLynchHPE commented on #511
This will be enhanced in the 5.20 and newer libraries.

[2020-10-29 22:05] ChrisLynchHPE commented on #513
Did someone disable WWN address pools on the appliance?  It appears that you are trying to create another server profile template resource from one appliance to another.  Do I have that assumption right?  If so, this isn't a bug with the Cmdlet, rather the appliance needs to be examined why WWN's are disabled, which likely there isn't an available pool to assign from.  The profile that you are try

[2020-10-29 22:10] ChrisLynchHPE commented on #514
Sorry, but the log file you provided does not contain any helpful indication to what your issue is.  Can you please be specific in what commands you are trying to execute, and what exact error message you are getting?  Please try to copy and paste text and not create screenshots, as they tend to be blurry and hard to read in most cases.

[2020-10-30 15:05] ericholton commented on #514
I don't understand Chris. I only attached text files. No screen shots. This is the command that isn't working:

Get-HPOVServerProfile | ConvertTo-HPOVPowerShellScript

The verbose output of the command is attached in the original issue.

Thanks,
Eric

[2020-10-30 15:08] ericholton commented on #513
Hi Chris, yes, the virtual WWNs are disabled because zoning isn't integrated into Synergy. The profile I am trying to create is set to use Physical WWNs. That said, I did try enabling the Virtual WWN pool but still got the same error.

I believe the command is correct. The last line in the HA-DRS-Cluster-Node3.txt file, the powershell script file, set the WwnAssignement to "Physical".

Thanks,
Eri

[2020-10-30 16:03] ChrisLynchHPE commented on #514
But without the error message captured, I have nothing to go on to identify what the issue is.  And simply providing the Cmdlet used here unforatunately is not enough.  There is something specific about the server profile that is probably causing the issue that I otherwise cannot reproduce.

One other way to help here is to provide the generated JSON file in the following:

[code]

I could then at

[2020-10-30 16:06] ChrisLynchHPE commented on #513
Can you supply the JSON of the source server profile so I can examine it?  You can do that with this command:

[code]

Then attach that created file here.

[2020-10-30 17:01] ericholton commented on #513
Here is that output file renamed to .txt so that it can be uploaded. Thanks!

[server-profile.txt](https://github.com/HewlettPackard/POSH-HPEOneView/files/5466544/server-profile.txt)

[2020-10-30 17:03] ericholton commented on #514
Here you go. Thanks!
[server-profile.txt](https://github.com/HewlettPackard/POSH-HPEOneView/files/5466556/server-profile.txt)

[2020-10-30 17:19] ericholton commented on #514
Sorry, I didn't notice the slight difference between the requested command for this issue and the other one. Here is the requested output. Thanks!
[server-profiles.txt](https://github.com/HewlettPackard/POSH-HPEOneView/files/5466623/server-profiles.txt)

[2020-10-30 18:53] ChrisLynchHPE commented on #513
Well, it appears New-HPOVServerProfile isn't handling this type of profile correctly.  Meaning, if connections are supposed to use physical addresses, then they are not being set to the right assignment type.  The same exists for New-HPOVServerProfileTemplate.  I have this identified and a fix in place.

In the meantime, you can do the following:

[code]

[2020-10-30 18:58] ChrisLynchHPE commented on #514
I'm not finding anything particularly wrong here.  I still cannot identify where the issue is.  Can you try capture this again using the following:

[code]

Then attach the file created.

[2020-10-30 19:25] ericholton commented on #514
Here you go. Thanks!
[2010301923_HPOV_transcript.log](https://github.com/HewlettPackard/POSH-HPEOneView/files/5467200/2010301923_HPOV_transcript.log)

[2020-10-30 19:54] ChrisLynchHPE commented on #514
Thanks.  And one more, which should help me stitch together the pieces:

[code]

Then paste your clipboard.

[2020-10-30 21:43] ericholton commented on #514
Here you go. Thanks!
[error.log](https://github.com/HewlettPackard/POSH-HPEOneView/files/5467798/error.log)

[2020-10-30 21:44] ericholton commented on #513
I will test no later than Monday. The servers are in use today. Thank you!

[2020-10-30 23:12] ChrisLynchHPE commented on #514
I see what the problem is.  There are profiles where the connection contains unassigned connections.  Is that intentional?  The Cmdlet doesn't support that today, as its use case is very specific and not very broad.  Can you remove that connection, or assign it a network?

For instance, server profile `HA-DRS-Cluster-Node1` connection ID 4 is not assigned to a network (the `networkUri` property is

[2020-10-30 23:23] ericholton commented on #514
I just checked and all connections do have an assigned network. However, the get-hpovserverprofile -name HA-DRS-Cluster-Node1 | ConvertTo-HPOVPowerShellScript now works. I am assuming someone changed the config.

I am very sorry to have wasted your time on this one but thank you very much for your help!

[2020-10-30 23:32] ChrisLynchHPE commented on #514
Well, it was because there were connections without networks assigned, which is allowed.  But the library just didn't handle that correctly.  I'm adding support for it, which in the future shouldn't cause this again.

[2020-11-02 23:33] ericholton commented on #513
I have been testing for several hours and can't make it work. First, the 'Passthru' fails because it isn't Virtual, Physical, or Userdefined. So I tried Virtual and UserDefined but the library expects a single quote at the beginning of the name: 'UserDefined, but then that fails.

When I set it to Virtual, also enabled a virtual pool, the profile was created but the adapters couldn't be changed to

[2020-11-05 09:37] docbios commented on #508
We verified the setting and checked if we are able to add the servers via UI -> it is working.
The server type we are trying to add are Gen8 to Gen10
Also there are no changes within the executing of the commands in the script from our end.
Only change we made in the past upgrading from PS 5.20 to 5.40
We verified also for the supported .NET Framework and so on, since we are looking somehow in the

[2020-11-05 17:57] ChrisLynchHPE commented on #513
What I am suggesting is that you use the code that was generated, but append `-Passthru` as noted in the sample to `New-HPOVServerProfile` Cmdlet call.  Then, in the variable, change the `wwpnType` and `macType` properties from Virtual to Physical.  I tested this code in my lab prior to providing you with a viable workaround until a 5.20 library is published with this addressed.

[2020-11-05 18:02] ChrisLynchHPE commented on #508
The exception message provided in this thread is a message from the appliance.  The Cmdlet does nothing to perform the discovery of a server, unless the initial validation of the submitted task fails as the server is already claimed, to then allow the caller to override and force claim the server resource.

Are you using IP Address or FQDN/hostname when attempting to add your servers?  Have you va

[2020-11-09 22:48] ChrisLynchHPE commented on #512
This will be added to the 5.00 and newer libraries.

[2020-11-10 06:46] mstreibe opened #515 "New-OVNetwork does not allow combining the parameters "vlanRange" and "NetworkSet""
### Expected Behavior
To create bulk networks and assign them to an existing network set, one should be able to specify a VLAN range and a network set to assign them to, but the cmdlet throws an error when trying this.

### Actual Behavior
[code]

### Steps to reproduce
Execute this command:
`PS > New-OVNetwork -Name VLAN -VlanRange "100-2823,2826-3966" -NetworkSet "Production"`

### Version Infor

[2020-11-10 15:23] odesaphy commented on #512
I've found in the Set-OVUplinkSet function there are several references to variables not used :

For example on HPEOneView.540 5.40.2559.2085 - HPEOneView.540.psm1
Line 94759 : $NetworkSetsUri
Line 94946 : $_UpdatedNetSet,

[2020-11-10 16:08] erikgraa opened #516 "Set-OVLoginMessage does not accept a valid ApplianceConnection parameter value"
### Expected Behavior

Set-OVLoginMessage -Message 'This is a Test Login Message' -Acknowledge $true -ApplianceConnection $ConnectedSessions[0]

or

Set-OVLoginMessage -Message 'This is a Test Login Message' -Acknowledge $true -ApplianceConnection "<name from $ConnectedSessions[0]"

### Actual Behavior

Set-OVLoginMessage: CAannot convert argument "applianceConnection", with value: "<fqdn>" for ".

[2020-11-10 17:02] erikgraa opened #517 "Set-OVApplianceCurrentSecurityMode does not return HPEOneView.Appliance.SecurityMode after (successful) reboot"
### Expected Behavior

Get-OVApplianceAvailableSecurityMode -ModeName CNSA | Set-OVApplianceCurrentSecurityMode -Confirm:$false

should return a HPEOneView.Appliance.SecurityMode object post-reboot

### Actual Behavior

Get-OVApplianceAvailableSecurityMode -ModeName CNSA | Set-OVApplianceCurrentSecurityMode -Confirm:$false

The cmdlet returns blank (Wiki says it should return an HPEOneView.Applian

[2020-11-10 17:35] erikgraa opened #518 "New-OVLdapServer with the TrustLeafCertificate switch set fails"
### Expected Behavior

New-OVLdapServer -Hostname 'domaincontroller.fqdn' -TrustLeafCertificate

**NOTE**: Adding the directory and all domain controllers works perfectly through the UI.

### Actual Behavior

New-OVLdapServer -Hostname 'domaincontroller.fqdn' -TrustLeafCertificate

Fails with:

![image](https://user-images.githubusercontent.com/20067955/98709934-4f1e3600-2383-11eb-99f2-d5dad571491

[2020-11-10 22:25] erikgraa commented on #516
It seems like the Login Message does in fact get changed in spite of the error.

[2020-11-10 23:03] ChrisLynchHPE commented on #516
The `-ApplianceConnection` parameter is only necessary if you plan on instantiating connections to multiple HPE OneView appliances.  If you are not, you can omit the parameter.  Please see the [about_ApplianceConnections](https://hpe-docs.gitbook.io/posh-hpeoneview/about/about_appliance_connections) help topic.

As for the reported bug, I see what is causing it, and will be in the next update.

[2020-11-10 23:11] ChrisLynchHPE commented on #518
There is no special negotiation here.  This is dependent upon Microsoft's `System.Net.Sockets.TcpClient` class to download the certificate to then pass as a property value for the REST API.

Two things:

1. Is there a reason why you are not adding your CA root chain as appliance trusted certificates?  By adding the Domain Controllers leaf cert, you then have to update the certificate from the DC w

[2020-11-10 23:31] erikgraa commented on #518
1. is a good point. I can foresee issues when certificates invariably expire and one has forgotten the password of the local administrator. Do I not need the -TrustLeafCertificate in that case? It would be nice to figure out why this is failing nevertheless though, seeing as there is no issue ticking this checkbox off in the UI.

[2020-11-10 23:46] ChrisLynchHPE commented on #518
No.  The `-TrustLeafCertificate` is only when you want to explicitly trust the certificate by adding it to the appliances trust store.  Otherwise, you are much better off here adding the CA root chain public Base64 certs to the appliance.  Then you do not need to explicitly trust the DC cert.  They will be implicitly trusted as long as they are valid and not revoked (which would need to be publish

[2020-11-10 23:54] ChrisLynchHPE commented on #517
The `WARNING: Appliance is rebooting` message is only supposed to be displayed once.

As for the returned object, yes it will be returned after the appliance has rebooted.  There is no guaranteed way to return that object before the appliance reboots.

[2020-11-11 00:03] erikgraa commented on #517
Seems to write the warning every 30 seconds in the `Wait-OVTaskComplete` function.

No object was returned when I tried earlier today with either CNSA or FIPS, but the prompt was released after 10 minutes or so after the UI had become usable post-reboot. I surmise it does something until then.

Is it the Send-OVRequest that should have returned the object?

[2020-11-11 05:28] ChrisLynchHPE commented on #517
Correct.  That will be shown only 1 time now with the change I have made.

Please provide the library version you are using using `$PSLibraryVersion`.  Without that (and that was required data when you created this issue), I have to dig through a number of released libraries to see where this could be getting hung up at.

[2020-11-11 08:39] erikgraa commented on #517
5.50.2591.2980 as stated above (HPEOneView.550)

[2020-11-11 11:27] erikgraa commented on #518
Thank you.

I tried using the Add-OVApplianceTrustedCertificate with the ComputerName and Port parameters, and the GET request seems to work fine (I see the certificate chain in the Request Body, i.e. CertificateInfoV2/CertificateDetails, but then I get this as it is POST-ing (seen with Verbose passed):

400 Bad Request
INVALID_JSON_MAPPING
JSON cannot be parsed
There is a problem on line 1 near c

[2020-11-12 17:27] ChrisLynchHPE commented on #517
The doc return object is incorrectly documented.  It is supposed to be the async task that was created.  I'll have to look into that further, as something may have changed with the API behavior in OneView 5.50.

[2020-11-12 17:58] ChrisLynchHPE commented on #518
In order to add the cert chain, you need to get that from the CA's themselves, or export the issuing CA from viewing the domain controllers public certificate, or using `openssl s_client -connect domaincontroller.domain.coml:636` and look for the base64 string value of its certificate.

If you happen to use openssl to get and then view the certificate within Windows, you can follow this screenshot

[2020-11-12 18:50] ChrisLynchHPE commented on #518
You don't use that Cmdlet to add the cert chain of the domain controller.  That functionality isn't there.  You need to get the domain controller cert chain and export/save the Base64 encoded value, then use the [-Path parameter](https://hpe-docs.gitbook.io/posh-hpeoneview/cmdlets/v5.50/appliance/add-ovappliancetrustedcertificate#path-less-than-system-io-fileinfo-greater-than) to [Add-OVApplianceT

[2020-11-12 21:31] erikgraa commented on #518
Awesome, thanks for answering in detail!

I was able to use the cmdlet in the OP from a lower version Windows Server, so there's obviously some cipher setting that is mucking up with regard to no common algorithm being found. This is obviously not a bug with the library and as such I'll close this erroneous issue. 👍

[2020-11-12 21:35] ChrisLynchHPE commented on #518
Thanks for reporting back.  There is an enhancement can be made here.  One that will help get the cert chain from an externally signed/issued cert authority. So I'm going to re-open this, and use it to track the enhancement.

[2020-11-12 21:54] ChrisLynchHPE commented on #518
BTW, I'm going to add a new feature that will get the certificate chain from a provided certificate or SSL endpoint when not self-signed.  And will then add them to the appliance, instead of the leaf certificate.  But only when the caller provides a switch parameter, say `-AddCertChain`.

[2020-11-13 00:14] erikgraa commented on #518
Splendid addition!

[2020-11-13 03:56] erikgraa opened #519 "Feature parity between HPE OneView 5.50 automatic retrieval of Host SSH Key and Set-OVAutomaticBackupConfig which requires the HostSSHKey parameter"
# Summary of the new feature/enhancement

Set-OVAutomaticBackupConfig requires that the Host SSH Key is input whereas the HPE OneView 5.50.00 UI will retrieve it for you automatically

Feature parity would be nice in such a way that the parameter is recommended, but optional

[2020-11-16 14:29] docbios commented on #508
Hi Chris,
after some additional days of investigation and checking we could identify the issue causing that strange behavior.
We can confirm it was not related to any HPE related software release.
Therefore we can close this request and sorry for any inconvenience this request caused.

[2020-11-16 14:29] #508 closed, assigned to nobody

[2020-11-16 17:53] ChrisLynchHPE commented on #508
Can you provide any input to what the cause was?  It would certainly help the community if anyone else experienced this issue in the future.

[2020-11-16 21:40] ChrisLynchHPE opened #520 "Uploading hotfix with Add-OVBaseline results in unknown file size."
### Expected Behavior
Uploading a hotfix should complete successfully, and then the appliance should report the correct file size
[code]

### Actual Behavior
Uploading a hotfix is successful. But the reported file size is 0 bytes, and the UI shows "unknown size".
[code]

[2020-11-18 04:00] ChrisLynchHPE commented on #519
I'm about to publish an update to the 5.50 library.  The other versions will follow later this week.

[2020-11-18 04:04] ChrisLynchHPE commented on #515
This was addressed in the recent 5.00 and 5.20 library updates.  This will be fixed in the 5.30, 5.40 and 5.50 libraries soon.

[2020-11-19 10:10] erikgraa opened #521 "Retrieving the Appliance Service Console Access allowment using the Get-OVApplianceServiceConsoleAccess Cmdlet results in error"
### Expected Behavior

Using ```Get-OVApplianceServiceConsoleAccess``` cmdlet should report the correct Appliance Service Console Access allowment setting.

### Actual Behavior

[code]
Output from the Error-variable:

![image](https://user-images.githubusercontent.com/20067955/99652199-d476aa00-2a57-11eb-8a7b-2339d898d21f.png)

### Steps to reproduce

[code]

### Version Information
HPE OneView Po

[2020-11-19 16:15] erikgraa opened #522 "Enhancement: Get-OVApplianceComplexPasswords Cmdlet to accompany/validate operation of [Disable|Enable]-OVApplianceComplexPasswords"
There is currently no ```Get-OVApplianceComplexPasswords``` Cmdlet to validate operation of ```[Disable|Enable]-OVApplianceComplexPasswords```.

# Proposed technical implementation details (optional)

```Get-OVApplianceComplexPasswords``` that operates in a similar fashion to ```Get-OVApplianceSshAccess``` and ```Get-OVApplianceServiceConsoleAccess```.

[2020-11-19 17:09] ChrisLynchHPE commented on #521
I am not able to reproduce this.  Can you provide the output from:

[code]

It should be a boolean response; either `True` or `False`.

[2020-11-19 17:17] erikgraa commented on #518
I tried the new ```Add-OVApplianceTrustedCertificate``` parameter ```-TrustCertChain``` along with ```-ComputerName <DC> -Port 636```and I am getting this error on usage:

![image](https://user-images.githubusercontent.com/20067955/99700401-6fd94080-2a93-11eb-909f-d52709dc3471.png)

[2020-11-19 17:20] ChrisLynchHPE commented on #523
This issue tracker is for sample scripts, not the libraries and functionality it is missing or you'd like to see added.  I am moving this issue to the right tracker.

[2020-11-19 17:22] tdovan opened #524 "Add-NewLJOBsToServerProfile.ps1 return MethodException: Cannot find an overload for "new" and the argument count: "4"."
Add-ExistingLJOBToServerProfile.ps1 return : MethodException: Cannot find an overload for "new" and the argument count: "4".

### Version Information
$PSLibraryVersion

synergy.obs.hpecic.net              LibraryVersion Path
----------------------              -------------- ----
ApplianceVersion: 5.20.00.419867.00 5.20.2422.3962 /root/.local/share/powershell/Modules/HPOneView.520/5.20.2422.3962

[2020-11-19 17:25] erikgraa commented on #521
```Send-OVRequest -Uri /rest/appliance/settings/serviceaccess``` returns the prompt with no output, but when I pass the ```-Verbose``` parameter I see there's a "BoolResponse": false" The FinalResponse is false.

![image](https://user-images.githubusercontent.com/20067955/99701266-8207ae80-2a94-11eb-9197-a4884a98e188.png)

![image](https://user-images.githubusercontent.com/20067955/99701293-8d5ada

[2020-11-19 17:45] ChrisLynchHPE commented on #523
This will be added to the next round of library updates after the US holiday break:

![Screenshot 2020-11-19 094544](https://user-images.githubusercontent.com/6956305/99703490-03871e80-2a4c-11eb-85d3-6f73f7c40a04.png)

[2020-11-19 17:49] ChrisLynchHPE commented on #521
Thanks.  This is because PowerShell is handling `False` a bit differently than expected.  This will be fixed in the next round of library update planned for after the US holiday break.

[2020-11-19 18:13] erikgraa commented on #519
I tried the enhanced Cmdlet today unsuccessfully, but haven't been able to troubleshoot yet. Will let you know in a bit.

The error was:

![image](https://user-images.githubusercontent.com/20067955/99706340-34db0b00-2a9b-11eb-9214-b5e5e5ba9e66.png)

[2020-11-19 18:21] erikgraa commented on #519
The above error was related to a firewall opening. I can confirm the enhanced functionality works as intended!

[2020-11-19 18:22] ChrisLynchHPE commented on #522
The reason why this Cmdlet doesn't exist is that the property is actually within `Get-OVLdap`:

![image](https://user-images.githubusercontent.com/6956305/99707338-2831c500-2a51-11eb-9cf4-f871690c385a.png)

[2020-11-19 18:26] erikgraa commented on #519
Addendum: Are you in touch with the people in HPE working on Global Dashboard? It would be nice if automatic SSH key retrieval were possible in the UI. The Automatic Backup Configuration UI in Global Dashboard also forces you to input a backup directory (i.e. backing up to the designated root folder for a user isn't possible as it is in OneView)

Is an official HPE OneView Global Dashboard PowerSh

[2020-11-19 18:40] erikgraa commented on #522
Thank you for clarifying!

[2020-11-19 18:40] #522 closed, assigned to nobody

[2020-11-19 20:08] ChrisLynchHPE commented on #519
I will let the OVGD PM know about the request to pull SSH/SFTP public keys like OV does.

As for an OVGD PowerShell library, unfortunately, we don't have one today.

[2020-11-19 20:15] ChrisLynchHPE commented on #518
Can you run the command again, but within:

[code]

Then attach the generated file.

[2020-11-19 20:31] ChrisLynchHPE commented on #518
Nevermind.  I found the source of the issue.  I had a merge problem from another library version, and caused some variables to get moved around.  I'll publish a quick fix for this, and some of the other items as soon as I get the 5.30 publishing going.  Which will be in the next hour or so.

[2020-11-20 01:52] erikgraa commented on #516
I can confirm this now works.

Seems to always return a ```Get-OVLoginMessage``` PSObject. Is a ```-PassThru``` parameter in order to align with other similar Cmdlets?

[2020-11-20 02:31] ChrisLynchHPE commented on #516
Not sure I understand what you mean.  The `-Passthru` switch is to return an object back to the pipeline without further processing.  Only the `New-OVServerProfile` and `New-OVServerProfileTemplate` today support the `-Passthru` switch.  That is mainly to return the profile objects if you wish to edit them before sending off to the API to create them if there isn't a native Cmdlet to configure som

[2020-11-20 10:59] erikgraa commented on #516
```Set-OVApplianceSshAccess``` returns a task object (i.e. not the same as ```Get-OVApplianceSshAccess```, whereas ```Set-OVApplianceServiceConsoleAccess``` returns the same as and ```Get-OVApplianceServiceConsoleAccess``` and ```Set-OVLoginMessage``` returns the same output as ```Get-OVLoginMessage```

Thus I was wondering if it's intentional that these 3 Cmdlets exhibit different (two kinds) of

[2020-11-20 11:26] erikgraa opened #525 "Cmdlet(s) for Emergency Local Login"
I have been unable to find the cmdlet(s) for disabling and enabling Emergency Local Login. Can you advise me on the correct procedure?

[2020-11-20 11:46] ehsanijavad commented on #292
Hi Chris
First of all, thank you for your support.
Please let me know how can I get the Used By?
I need it for change the name of Volume.

Thanks and Regards
Jawad

[2020-11-20 11:53] ehsanijavad opened #526 "Get-HPOVStorageVolume"
Hi
Thanks for your support. my problem is abut this command:

[code]

Please let me know how can I get the USED BY?
I have tried but could not find a solution.

Thanks and Regards
Jawad

[2020-11-20 12:21] erikgraa opened #527 "Correct/easiest way of determining whether an appliance is OneView for Synergy or Virtual Appliance"
Right now I am checking by try-catching-{} Get-OVComposerNode, but perhaps there is an easier way of distinguishing a OneView Virtual Appliance from OneView for Synergy?

[2020-11-20 14:34] VincentBerger commented on #527
You can do a GET on /rest/appliance/nodeinfo/version. Specifically look at the modelNumber property
I don't think there is a native cmdlet for it, but you can always use Send-OVRequest

[2020-11-20 14:42] erikgraa commented on #527
Thank you for the suggestion. The ModelName property has exactly what I need.

[2020-11-20 17:04] ChrisLynchHPE commented on #516
This is all outlined in the user documentation and is the byproduct of how the REST API works.  So yes, this is intentional.  I am not going to change the output behavior of what the API does just for the sake of PowerShell.  This behavior is exactly the same we have with our other scripting tools, like Python or Ruby.

[2020-11-20 18:28] ChrisLynchHPE commented on #525
It appears to be within the Cmdlet to set two factor authentication, which is not right.  This really needs to be within the Set-OVLdapDefaultDirectory Cmdlet.  I'll work to enhance and fix this.

[2020-11-20 18:43] ChrisLynchHPE commented on #292
The `UsedBy` is defined within the Format.psxml files shipped with the library.  It is an Index lookup of the parent to child relationship.  You can edit the name of a volume without needing to know what server profiles it is associated with.  The name of the resource has no applicability to the association.  Unless you wish to rename the volume to match that of the profile it is assigned to.  So,

[2020-11-20 18:44] ChrisLynchHPE commented on #526
This is how you get the `UsedBy` value (which I just replied to another user on the same question):

[code]

[2020-11-20 18:46] ChrisLynchHPE commented on #527
The easiest way is to look at the `$ConnectedSessions` object created for you.  This already populates a property called `ApplianceType` which derives from the `ModelName` property of the URI call Vincent mentioned.

[2020-11-20 19:52] erikgraa commented on #527
Seems I forgot about that one. Thank you for taking the time to clarify.

[2020-11-20 22:19] ehsanijavad commented on #526
Hi Chris
Thank you so much for your script.
Regards
Jawad

[2020-11-20 22:19] #526 closed, assigned to ChrisLynchHPE

[2020-11-20 23:08] erikgraa opened #528 "Cmdlet for starting the second Composer Node in a Synergy prior to enabling HA"
Is there a Cmdlet for starting the second Composer Node in a HPE Synergy after you have e.g. done a Factory Reset?

The Cmdlet ```Enable-OVComposerHANode``` exists but requires that the second Composer Node is already started.

[2020-11-20 23:33] ChrisLynchHPE commented on #528
It looks like the Cmdlet that I wrote wasn't exported, and isn't available to use.  In the meantime, you can use the following to perform that operation:

[code]

[2020-11-20 23:36] erikgraa commented on #528
Thank you @ChrisLynchHPE

[2020-11-20 23:39] ChrisLynchHPE commented on #528
You're welcome.  Do know that you can only power on a device, which will be provided by `Start-OVEnclosureAppliance`.  You stop or power off a Composer or VM using [Stop-OVAppliance](https://hpe-docs.gitbook.io/posh-hpeoneview/cmdlets/v5.50/appliance/stop-ovappliance).

[2020-11-22 16:09] ChrisLynchHPE commented on #528
I added this Cmdlet to the [Release 5.50.2607.2724](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v5.50.2607.2724) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2607.2724).

[2020-11-22 16:10] ChrisLynchHPE commented on #528
This issue will be addressed in other library versions after the US holiday break, in early Dec.

[2020-11-24 02:01] erikgraa commented on #521
I have tested this to great success!

[2020-11-24 02:03] erikgraa commented on #518
I have tested the fix in 5.50.2607.2724 with great success.

[2020-11-24 15:33] ehsanijavad opened #529 "Script-Mount the ISO from local storage"
Hi Chris
First of all, Thank you for your support.
Could you help me please?
I need a script:
I have created a server profile, now I want to open the console and mount the ISO (From my Laptop) and power it on.
again thank you for your answer and your support.

Regards
Jawad

[2020-11-30 11:08] MarcelDuke opened #530 "Registry Error with Version 5.40.2551.2353"
Hi, by switching from POSH-HPEOneView 4 to Version: 5.40.2551.2353, we've tracked an Issue with the Module.
With Importing the Module, it tries to put an entry in the Registry with:

`New-Item "HKCU:\Software\Hewlett-Packard\HPOneView" -force | Out-Null`

When we try to import the Module in a Script with, i.e. a Service User, that is not a Local Admin, we get an Error and the Module can't be loade

[2020-12-01 19:15] coreymr opened #531 "Get-HPOVAlert : An unexpected and unhandled runtime exception occurred"
### Expected Behavior
Get-HPOVAlert -state Cleared -Start '2019-01-01' -end (get-date).AddDays(-60) should return alerts older than 60 days between today and 2019-01-01

### Actual Behavior
Instead receive error:
[code]

### Steps to reproduce

### Version Information
Issue occurred when appliances wereat 5.0 and now at 5.3
get-hpovversion
dewdfonev01.wdf.global.corp.sap : ApplianceVersion: 5.30.0

[2020-12-04 22:26] ChrisLynchHPE commented on #530
This shouldn't happen as the location is HKEY_CURRENT_USER, to which the user should have the necessary permissions to create, update, read and delete anything within that section of the registry hive.  Are you sure this isn't a local permissions issue with the account you are using?

[2020-12-04 22:28] ChrisLynchHPE commented on #529
Check the scripts location [here](https://github.com/HewlettPackard/oneview-osdeployment/tree/master/PowerShell) on how to mount and unmount an ISO using iLO Virtual Media.  Keep in mind that this is a licensable feature, which means you need to have an iLO Advanced license, in order to script virtual media.

[2020-12-05 00:21] ChrisLynchHPE commented on #531
You have an older version of the library.  Please update it to at least [5.00.2597.2846](https://www.powershellgallery.com/packages/HPOneView.500/5.0.2597.2846).  If you still have this issue, it isn't with the library, but the appliance, as the exception is being generated by the appliance.

[2020-12-07 08:15] ehsanijavad commented on #529
Thanks you so much Chris.
Please let me know, how can I mount ISO from my laptop (In script ISO resided in web server).
Thanks and Regards
Jawad

[2020-12-07 18:41] ChrisLynchHPE commented on #529
You need to put the ISO into a directory where either an HTTP or FTP service can make it available.  This is all dependent upon what OS you are running.  Within Windows, you can install the HTTP Web Service role or feature.  Once it is installed and service is running, you'll need to add ISO as a MIME type supported by the web service.  There are plenty of blog articles on how to do this.

Once yo

[2020-12-08 18:16] ehsanijavad commented on #529
Thank you Chris.

[2020-12-08 19:14] #529 closed

[2020-12-08 19:14] #527 closed

[2020-12-08 20:16] #503 closed

[2020-12-08 20:17] #496 closed

[2020-12-09 01:48] rismoney opened #533 "Set-HPOVServerProfileTemplate"
Set-HPOVServerProfileTemplate
### Expected Behavior
be able to configure server profile templates

### Actual Behavior
"not implemented"

### Steps to reproduce

[code]
### Version Information
HPE OneView PowerShell Library Version (`Get-HPOVVersion` or `$PSLibraryVersion`):
HPE OneView Appliance Version (`Get-HPOVVersion -ApplianceVer`):
Output from `$PSVersionTable` on your Windows Host:

[code]

[2020-12-09 01:51] rismoney commented on #533
One additional point - New-HPOVServerProfileTemplate  appears to only work for creation of server profile templates, and can't update/edit them.

[2020-12-09 02:08] ChrisLynchHPE commented on #533
This isn't a bug.  The Cmdlet hasn't been implemented yet.  To edit a profile or template, you will need to get the resource, then modify the property of the specific section according to the REST API documentation.  Then use [Save-OVServerProfileTemplate](https://hpe-docs.gitbook.io/posh-hpeoneview/cmdlets/v5.50/servers/save-ovserverprofiletemplate) or [Save-OVServerProfile](https://hpe-docs.gitb

[2020-12-09 02:09] ChrisLynchHPE commented on #533
Do you have a specific need right now to edit a setting?  If so, I can help you with a workaround for now until they are implemented.

[2020-12-09 03:02] rismoney commented on #533
I have encountered this on both the server profile template and the server profile cmdlets

A little background -
We are doing a huge HP migration project, that is going to involve moving hundreds of modules to an entirely new infrastructure. I started to look at managing this from a code perspective and initially liked the idea of using terraform (TF).   What I found in the TF project was partial

[2020-12-09 03:19] ChrisLynchHPE commented on #533
I'm not following here.  What would you need to change after profiles have been deployed?  Typically customers have defined these policies, and then leave them alone unless there is a very specific need.  I can certainly understand other aspects of a profile, like firmware, connections, fabrics, DAS and external storage policies would change (really add, not necessarily remove).  With both Ansible

[2020-12-09 12:41] rismoney commented on #533
For today BIOS settings as I was attempting to use TF to create it via profile templates.  I found out it was lacking and then tried to fill in the gaps missing with PS.  But as I have recently learned, PS can't edit existing objects with the cmdlet, only via REST.  This was an early use case I was running through.  We are a financial firm where we need to make config changes to adapt workloads an

[2020-12-09 17:28] ChrisLynchHPE commented on #533
Each Cmdlet is wrapped code around REST API manipulation, often the parameters map to specific sections of an objects property and allowed values.  So while technically a "native" Cmdlet doesn't exist, you can still make changes to a resource via PowerShell.  I would ask that you take a look at our curated scripts we have up on the [oneview-samples](https://github.com/HewlettPackard/oneview-sample

[2020-12-09 17:28] #533 closed

[2020-12-11 15:21] storagemike opened #534 "Show-HPOVFirmwareReport Generation Error"
### Expected Behavior
Successful generation of Firmware Report

### Actual Behavior
[code]

### Steps to reproduce

Unknown, command works on 5 out of our 6 environments, only fails on xLD. Command fails even if I connect from a working environment on to xLD
[logfile.log](https://github.com/HewlettPackard/POSH-HPEOneView/files/5680517/logfile.log)

### Version Information
HPE OneView PowerShell Li

[2020-12-11 17:04] ChrisLynchHPE commented on #534
It looks like firmware was deployed to these enclosures via the Logical Enclosure, and the baseline is no longer set or does not exist.  So during the firmware report process, `Show-HPOVFirmwareReport` tries to get the associated baseline to the enclosure.  Which in your case doesn't exist.  So there is a bug that doesn't validate the enclosure resource enough, and you have this error.  This bug e

[2020-12-29 22:47] DungKHoang opened #538 "New-OVSnmpV3User created with no securityLevel - Wrong values set to v3AuthProtocol and v3PrivacyProtocol"
### Expected Behavior
Value of v3AuthProtocol and v3PrivacyProtocol should be set to NA instead of NONE when creating snmpV3 user with NO security Level according to the OneView REST API

### Actual Behavior
Value of v3AuthProtocol and v3PrivacyProtocol are set  NONE.

### Steps to reproduce

[code]

### Version Information
HPE OneView PowerShell Library Version (`Get-HPOVVersion` or `$PSLibraryVe

[2020-12-29 22:55] DungKHoang opened #539 "New-OVSNMPTrapDestination with SNMPv3 Enabled produces incorrect JSON values"
### Expected Behavior
When creating a snmpTrap with SNMPV3, the JSON structure should:
a) have username specified
b) Not have communityString configured to Public

### Actual Behavior
Username is empty
CommunityString = Public

### Steps to reproduce

[code]

### Version Information
HPE OneView PowerShell Library Version (`Get-HPOVVersion` or `$PSLibraryVersion`):  5.20.2597.1857
HPE OneView Appli

[2020-12-29 23:44] DungKHoang opened #540 "SNMPConfiguration for LIG : error with EngineID in SNMPv3 User"
### Expected Behavior
Create a LIG with snmp configuration

### Actual Behavior
When creating a snmptrap destination for a LIG, the help file states that there is NO need to specify EngineID for SNMPv3 user.
However, when we create a LIG with snmpConfiguration, it states that engineID is required

### Steps to reproduce

[code]

### Version Information
HPE OneView PowerShell Library Version (Get-H

[2021-01-08 09:43] ramakrishnan20 opened #541 "OV POSH: 5.40: New-OVNetworkSet fails to create network set with untagged network"
While creating a network set along with untagged network OV POSH API New-OVNetworkSet fails to create. Same thing is possible via GUI.

We have networks vMotion and FT already created in OV., When we create a network set grouping them by adding vMotion as untagged and FT as tagged the creation fails.

It throws the following error.
New-OVNetworkSet : The native network URI: /rest/ethernet-networks

[2021-01-11 17:03] DungKHoang opened #543 "New-OVIloDirectoryGroup requires GroupSID while the GUI does not"
### Expected Behavior

When creating iLO directory Group with the GUI, GroupSid can be blank.
When using the cmdlet new-ovIloDirectoryGroup, the parameter -GroupSiD is mandatory
### Actual Behavior
GroupSiD is mandatory in new-OVIloDirectoryGroup

### Version Information
HPE OneView PowerShell Library Version (Get-HPOVVersion or $PSLibraryVersion): 5.40.2605.2185
HPE OneView Appliance Version (Get

[2021-01-13 16:53] motonuke commented on #414
Hello, i've experienced a similar issue as above, but my use case is probably more of a fringe case than anything. I wanted to post this for others to reference.

I was getting the "library unable to load due to Net Framework 4.7.2 or higher not being installed (paraphrasing)" error upon trying to do an `import-module HPOneView.500`. However, what I didn't account for was that this system has the

[2021-01-14 23:27] ChrisLynchHPE opened #544 "SAT toolkit 2.5 not able to connect to Synergy oneview , but from PowerShell it works fine. Tried disabling/enabling proxy still have the same issue."
SAT toolkit 2.5 not able to connect to Synergy oneview , but from PowerShell it works fine. Tried disabling/enabling proxy still have the same issue.

FYI.. FQDN is updated in the host's file on the window machine and DNS lookup work fine.

Output from sat tool  --> **connection fails on browser**
==============

VERBOSE: [HPOneView.Utilities.Net.RestClient] URI: https://x.x.x.x/rest/version
VERBO

[2021-01-14 23:28] ChrisLynchHPE commented on #544
Please specify what the version of the library is.  Ensure that you have an empty PowerShell profile for testing to rule out any custom profile settings  (see more at [about_Profiles](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_profiles?view=powershell-7.1))

[2021-01-14 23:44] ChrisLynchHPE commented on #541
When setting trying to set the untagged  network, it must also be within the array of networks provided in the `-Networks` parameter.  If it isn't, then an error is generated.  Ensure you are providing the right untagged network.

[2021-01-14 23:50] ChrisLynchHPE commented on #540
The documentation is correct. What isn't is the fact that if you don't provide a value for the SNMPv3 engine ID, an API caller shouldn't be attempting to pass the engine ID property, as it cannot be null.  So, this is a bug, but not with the documentation.

[2021-01-15 03:42] prabhum456 commented on #544
Thanks, @ChrisLynchHPE .
It was a profile issue, the interesting part was an issue was seen on 4.8 .net but not on the 4.7.2 .net.
with the error message below from the library, I installed new windows with 4.7.2 and it worked.

![image](https://user-images.githubusercontent.com/55988297/104678612-d2f0f780-5711-11eb-90b3-97393ad29cd0.png)

[2021-01-15 03:46] prabhum456 commented on #544
I did not create any profile as part of the deployment guide, Just want to understand when does this profile gets created or modified.

[2021-01-15 03:47] ChrisLynchHPE commented on #544
For PowerShell 5 and older, I think a blank one is created, for the console and ISE. PowerShell 7 you have to create it. And there is no ISE for PowerShell 7.

[2021-01-15 03:48] ChrisLynchHPE commented on #544
If this is solved, then I am closing this.

[2021-01-15 03:48] #544 closed, assigned to ChrisLynchHPE

[2021-01-15 17:23] ChrisLynchHPE commented on #544
As for the .NetFramework, make sure you are installing the correct language pack as well.  If you don't, it won't increment the CLR version that the module checks for.

[2021-01-19 19:40] JaragonCR opened #547 "Ability to pull AHS reports from 1 or multiple computes."
This is an enhancement request

Would it be possible to create a command to pull AHS reports from a select set of servers or even "stagger" all servers?

[2021-01-27 09:51] AtomP4FX opened #548 "Enable-OVDeviceUid for enclosure"
### Expected Behavior

Get-OVEnclosure -name "xxx" | Enable-OVDeviceUid
should light on the UID

### Actual Behavior
Get-OVEnclosure -name "xxx" | Enable-OVDeviceUid
Enable-OVDeviceUid : This operation requires an ETag value and none was specified. Specify an ETag value in the If-Match header or the eTag attribute of the request body.

### Steps to reproduce

[code]

### Version Information
HPE On

[2021-01-28 17:41] ChrisLynchHPE commented on #547
HPE OneView can initiate an AHS collection, but only for when OneView Remote Support is enabled.  This can be controlled with the [Start-OVRemoteSupportDataCollection](https://hpe-docs.gitbook.io/posh-hpeoneview/cmdlets/v5.50/appliance/start-ovremotesupportcollection) Cmdlet.

[2021-01-28 17:44] ChrisLynchHPE commented on #548
Just to clarify here, is this enclosure a c-Class or HPE Synergy Frame?  If c-Class, this Cmdlet is not supported, as there is no ability to set the UID from OneView.

[2021-01-28 19:04] AtomP4FX commented on #548
Chris, this is a Synergy frame. For C7000 I had no chance to try but it would be better to have this documented.

[2021-01-28 19:05] AtomP4FX commented on #548
For servers same works perfectly

[2021-01-28 19:21] ChrisLynchHPE commented on #548
Okay, I'll look at this further.

[2021-01-28 22:46] ChrisLynchHPE commented on #548
I found the issue, and this will be fixed in the next round of library updates.

[2021-01-31 01:03] DungKHoang commented on #543
Fixed in 5.50

[2021-01-31 01:05] DungKHoang commented on #538
in 5.50 library, it still shows NONE instead of NA

[2021-01-31 01:12] DungKHoang commented on #540
Fixed in 5.50 library

[2021-01-31 01:13] DungKHoang commented on #539
Fixed in 5.50

[2021-02-01 17:14] ChrisLynchHPE commented on #543
A 5.50 library that fixes this issue has not been released yet.  Re-opening.

[2021-02-01 17:14] ChrisLynchHPE commented on #539
A 5.50 library that fixes this issue has not been released yet.

[2021-02-01 17:14] ChrisLynchHPE commented on #540
A 5.50 library that fixes this issue has not been released yet.

[2021-02-01 17:14] ChrisLynchHPE commented on #538
A 5.50 library that fixes this issue has not been released yet.

[2021-02-01 17:19] ChrisLynchHPE commented on #538
Actually, the value for the properties are supposed to be `none`, not `NA`.   Here is what the UI does to create the same SNMPv3 user:

[code]
So if anything, the camel case for `NONE` is incorrect by the library.

[2021-02-02 09:55] storagemike commented on #534
Hi Chris
Hope you're well. Is there any update on this case please?
Thanks

[2021-02-02 17:43] ChrisLynchHPE commented on #534
I am working on publishing library updates.  I had to make some major unit test changes to some of the libraries due to lab changes.  I'm working through the last of them, and will be releasing over the next few days.

[2021-02-09 22:13] ChrisLynchHPE commented on #548
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:14] #547 closed, assigned to ChrisLynchHPE

[2021-02-09 22:15] ChrisLynchHPE commented on #543
This is now addressed in the [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687) release.  Please confirm before closing this issue.

[2021-02-09 22:21] ChrisLynchHPE commented on #543
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:22] #543 closed, assigned to ChrisLynchHPE

[2021-02-09 22:23] ChrisLynchHPE commented on #541
Closing due to no further activity. If you believe this is in error, please feel free to re-open.

[2021-02-09 22:23] #541 closed, assigned to ChrisLynchHPE

[2021-02-09 22:23] ChrisLynchHPE commented on #540
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:23] #540 closed, assigned to ChrisLynchHPE

[2021-02-09 22:23] ChrisLynchHPE commented on #539
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:23] #539 closed, assigned to nobody

[2021-02-09 22:24] ChrisLynchHPE commented on #534
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:25] ChrisLynchHPE commented on #531
Closing due to no further activity.  If you feel this is in error, please feel free to re-open this issue.

[2021-02-09 22:25] #531 closed, assigned to ChrisLynchHPE

[2021-02-09 22:25] ChrisLynchHPE commented on #530
Closing due to no further activity.  If you feel this is in error, please feel free to re-open this issue.

[2021-02-09 22:25] #530 closed, assigned to ChrisLynchHPE

[2021-02-09 22:30] ChrisLynchHPE commented on #528
This is now addressed in the following releases:

* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView.520/5.20.2684.2161)
* [5.00.2685.1865](https://www.powershellgallery.com/packages/HPOneView.

[2021-02-09 22:32] ChrisLynchHPE commented on #525
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:39] ChrisLynchHPE commented on #521
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:39] #521 closed, assigned to ChrisLynchHPE

[2021-02-09 22:40] ChrisLynchHPE commented on #520
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:41] ChrisLynchHPE commented on #519
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:41] #519 closed, assigned to ChrisLynchHPE

[2021-02-09 22:41] #520 closed, assigned to ChrisLynchHPE

[2021-02-09 22:43] ChrisLynchHPE commented on #518
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:43] #518 closed, assigned to ChrisLynchHPE

[2021-02-09 22:45] ChrisLynchHPE commented on #516
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:45] #516 closed, assigned to ChrisLynchHPE

[2021-02-09 22:46] ChrisLynchHPE commented on #515
While this was fixed in prior 5.50 and 5.40 libraries, it is also within the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](http

[2021-02-09 22:47] ChrisLynchHPE commented on #514
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:47] #514 closed, assigned to ChrisLynchHPE

[2021-02-09 22:48] ChrisLynchHPE commented on #513
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:48] #513 closed, assigned to ChrisLynchHPE

[2021-02-09 22:50] ChrisLynchHPE commented on #512
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:55] ChrisLynchHPE commented on #511
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:56] ChrisLynchHPE commented on #510
Closing due to no further activity.  If you feel this is in error, please feel free to re-open this issue.

[2021-02-09 22:56] #510 closed, assigned to ChrisLynchHPE

[2021-02-09 22:57] ChrisLynchHPE commented on #509
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:58] ChrisLynchHPE commented on #507
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:58] ChrisLynchHPE commented on #506
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 22:59] ChrisLynchHPE commented on #505
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 23:01] ChrisLynchHPE commented on #504
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 23:03] ChrisLynchHPE commented on #494
I had updated the module help info XML manifest files.  This should be working.  Can you please validate?  You may need to update the library to a current release:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.

[2021-02-09 23:04] ChrisLynchHPE commented on #493
Closing this due to no further activity.  If you feel this is in error, please feel free to re-open this issue.

[2021-02-09 23:04] #493 closed, assigned to ChrisLynchHPE

[2021-02-09 23:04] ChrisLynchHPE commented on #489
Docs have been updated.  Closing.

[2021-02-09 23:04] #489 closed, assigned to ChrisLynchHPE

[2021-02-09 23:05] ChrisLynchHPE commented on #487
Closing due to no further activity.  If you feel this is in error, please feel free to reopen this issue.

[2021-02-09 23:05] #487 closed, assigned to ChrisLynchHPE

[2021-02-09 23:05] ChrisLynchHPE commented on #483
Closing, as this is no longer needed.

[2021-02-09 23:05] #483 closed, assigned to nobody

[2021-02-09 23:06] ChrisLynchHPE commented on #523
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 23:06] ChrisLynchHPE commented on #523
Closing.

[2021-02-09 23:06] #523 closed, assigned to ChrisLynchHPE

[2021-02-09 23:08] ChrisLynchHPE commented on #445
iLO settings were added a number of releases ago.  I just forgot to tag those releases.  It is supported in 5.00 and newer libraries.  Closing.

[2021-02-09 23:08] #445 closed, assigned to ChrisLynchHPE

[2021-02-09 23:11] ChrisLynchHPE commented on #437
Is this still an issue?  As I don't have Gen7 servers to test with, it is difficult to identify this issue.  If you do, please use the Get-HPOVCommandTrace or Get-OVCommandTrace to capture the output from the New-HPOVServerProfile or New-OVServerProfile Cmdlet.  As an example:

[code]

[2021-02-09 23:12] ChrisLynchHPE commented on #430
This is now addressed in the following releases:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](https://www.powershellgallery.com/packages/HPOneView

[2021-02-09 23:12] #430 closed, assigned to ChrisLynchHPE

[2021-02-09 23:13] ChrisLynchHPE commented on #418
Closing due to no further activity.  If you feel this is in error, please feel free to re-open this issue.

[2021-02-09 23:13] #418 closed, assigned to nobody

[2021-02-09 23:16] ChrisLynchHPE commented on #413
This feature was added in prior releases of the 5.00 and newer libraries.  Here is the list of currently released libraries:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3

[2021-02-09 23:17] ChrisLynchHPE commented on #413
Closing due to no further activity.  If you feel this is in error, please feel free to re-open this issue.

[2021-02-09 23:17] #413 closed

[2021-02-09 23:19] ChrisLynchHPE commented on #389
This was fixed in prior library releases.  However, here is a current list of released versions:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packages/HPEOneView.530/5.30.2682.3811)
* [5.20.2684.2161](http

[2021-02-09 23:19] #389 closed

[2021-02-09 23:20] ChrisLynchHPE commented on #375
This issue was addressed in prior 4.10 and 4.20 libraries releases.  However, as they are longer supported, the following current releases have this fix:

* [5.50.2680.1687](https://www.powershellgallery.com/packages/HPEOneView.550/5.50.2680.1687)
* [5.40.2681.1725](https://www.powershellgallery.com/packages/HPEOneView.540/5.40.2681.1725)
* [5.30.2682.3811](https://www.powershellgallery.com/packag

[2021-02-09 23:20] #375 closed

[2021-02-10 14:50] andrevdn commented on #437
Hi
It's not an issue for us. The last 2 Gen7's will be gone within a month.
Regards,
André

From: Chris Lynch <notifications@github.com>
Sent: Wednesday, February 10, 2021 12:12 AM
To: HewlettPackard/POSH-HPEOneView <POSH-HPEOneView@noreply.github.com>
Cc: Dijken, Andre van <andre.vandijken@wur.nl>; Author <author@noreply.github.com>
Subject: Re: [HewlettPackard/POSH-HPEOneView] New-HPOVServerProf

[2021-02-10 15:33] ChrisLynchHPE commented on #437
Thanks.  Closing.

[2021-02-10 15:33] #437 closed, assigned to ChrisLynchHPE

[2021-02-10 17:40] HPE-OV opened #552 "HP OV Baseline Error on PowerShell"
On OneView v5.00.01 and Power Shell v5.0.2400.1845

Utilizing the PowerShell module HPOneView.500, when the command "Get-HPOVBaseline" is executed to return a list of firmware bundles, the following error is noticed:

Get-HPOVBaseline : Cannot convert the JSON string because a dictionary that was converted from the string contains the duplicated keys 'ri10' and 'RI10'. (Please refer the attachment

[2021-02-10 17:49] ChrisLynchHPE commented on #552
The challenge here is that our SPP's can contain multiple components of the same type.  And how that is then collected and stored is in a Camel Case definition.  PowerShell is not a camel case programming/scripting environment.  Can you please do the following and provide the captured log file:

[code]

Reply with and attach the generated file to this thread so I can analyze it.

[2021-02-10 18:07] HPE-OV commented on #552
Here is the Output:

[2102101159_HPOV_transcript.log](https://github.com/HewlettPackard/POSH-HPEOneView/files/5960403/2102101159_HPOV_transcript.log)

[2021-02-10 18:49] ChrisLynchHPE commented on #552
Okay, one more:

[code]

I think this could be an index resource causing this issue, which this capture would provide.

[2021-02-10 19:05] HPE-OV commented on #552
This is the error he is getting:
![Error2](https://user-images.githubusercontent.com/78871738/107558617-00da3680-6c01-11eb-9532-de67a2b2baba.png)

[2021-02-10 19:07] ChrisLynchHPE commented on #552
Please look at my post again.  This is a typo and I fixed that in an edit.  The uri parameter value needs to be encased with `"`:

[code]

[2021-02-10 19:32] HPE-OV commented on #552
He got the same error:
![Error3](https://user-images.githubusercontent.com/78871738/107561687-dbe7c280-6c04-11eb-84c9-462cc5fb9a53.png)

[2021-02-10 19:54] ChrisLynchHPE commented on #552
Yes, that is expected.  The file created (`2102101313_HPOV_transcript.log`) contains the information I need to see.  Please provide that.

[2021-02-10 20:04] HPE-OV commented on #552
Here is the output:
[2102101313_HPOV_transcript.log](https://github.com/HewlettPackard/POSH-HPEOneView/files/5961214/2102101313_HPOV_transcript.log)

[2021-02-10 20:51] ChrisLynchHPE commented on #552
Thanks.  I have identified a fix for this, and will be in the next library updates.

[2021-02-10 21:03] HPE-OV commented on #552
For PowerShell or OneView?

[2021-02-10 21:34] ChrisLynchHPE commented on #552
This is an issue with the PowerShell library, not OneView.  This issue tracker is for the library only, not HPE OneView support.

[2021-02-10 21:47] HPE-OV commented on #552
Understood, thank you Chris.

[2021-02-11 00:44] ChrisLynchHPE commented on #552
I have just released a 5.00 library update that resolves this issue:

This is fixed in [Release 5.0.2689.2416](https://github.com/HewlettPackard/POSH-HPOneView/releases/tag/v5.0.2689.2416) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPOneView.500/5.0.2689.2416).

I will be releasing updates to the other library versions that also address this.

[2021-02-11 00:44] ChrisLynchHPE commented on #538
This is fixed in [Release 5.0.2689.2416](https://github.com/HewlettPackard/POSH-HPOneView/releases/tag/v5.0.2689.2416) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPOneView.500/5.0.2689.2416).

I will be releasing updates to the other library versions that also address this.

[2021-02-11 14:17] shawnzzzy opened #553 "import-module : The given assembly name or codebase was invalid. (Exception from HRESULT: 0x80131047)"
Hello,

I'm able to install HPEOneView.550 but then i cannot import it.
Here is the results of running the import-module:

[code]

Any ideas what the issue is?

Here is my PowerShell Version Table:
[code]

[2021-02-11 15:13] ChrisLynchHPE commented on #553
How did you install the module?  What happens if you were to do the following:

[code]

[2021-02-11 15:23] ChrisLynchHPE commented on #553
As long as you are installing the module from PowerShell Gallery (`Install-Module HPEOneView.550`), the module loads just fine on my Windows 10 PC when using PowerShell 5.1.  So this seems to be an issue with your PC that I'm not sure how to handle this.

[2021-02-16 21:01] nightzone opened #554 "New-OVLogicalInterconnectGroup for FabricModuleType SEVC32FC return an error"
### Expected Behavior
[code]

Should pass without errors. Tried different Bay1 and Bay4 parameters.

### Actual Behavior
Getting an error.
[code]

### Steps to reproduce

[code]

### Version Information
HPE OneView PowerShell Library Version (`Get-HPOVVersion` or `$PSLibraryVersion`):
HPEOneView.550; Version=5.50.2607.2724
HPE OneView Appliance Version (`Get-HPOVVersion -ApplianceVer`):

5.50.00-0

[2021-02-16 22:17] ChrisLynchHPE commented on #554
This is caused by a typo in the module name used in the Cmdlet, that isn't being handled correctly in an internal function to build an API compliant resource for interconnect bay mappings.  I will have this addressed in a library update.

[2021-02-17 21:03] shawnzzzy commented on #553
[code]

[2021-02-17 21:07] shawnzzzy commented on #553
I installed it using:
[code]

[2021-02-17 21:09] shawnzzzy commented on #553
I wonder if it's because the module location is in my local OneDrive. I'll try to install it to a different path.

[2021-02-17 22:03] ChrisLynchHPE commented on #553
My Windows 10 PC is setup the same way, where modules are installed to the OneDrive redirected My Documents folder.  I had no issues installing and then loading the module in this way.

[2021-02-19 16:18] nightzone opened #555 "Feature Request New-OVUplinkSet to set port speed and FEC mode for Ethernet uplinks of VC SE 100Gb F32 LIG/LI"
# Summary of the new feature/enhancement

New-OVUplinkSet     should be able to set port speed and FEC mode for Ethernet uplinks of VC SE 100Gb F32 LIG/LI

# Proposed technical implementation details (optional)

Currently not possible set port speed and FEC mode for Ethernet uplink ports of VC SE 100Gb F32.
It would be good to have such option.

[2021-02-19 17:34] ChrisLynchHPE commented on #555
What is "FEC mode"?  As for uplink port speed, auto negotiation is more than fine here.  There is no need to enforce it, as there is no Duplex negotiation in 10Gb and faster specs. Plus, it would make the `-UplinkPorts` object complex to define.

[2021-02-19 23:30] uzimmermann42 opened #556 "get-OvServerProfileConnectionList not showing user defined WWPN"
We have 3 profiles on this appliance with FCoE/FibreChannel connections. One profile has user defined WWPN due to testing. The command doesn't show those

### Expected Behavior

[code]

### Actual Behavior
[code]

### Steps to reproduce

See above.

### Version Information
HPE OneView PowerShell Library Version (`Get-HPOVVersion` or `$PSLibraryVersion`): 5.50.2591.2980
HPE OneView Appliance Versio

[2021-02-22 07:18] nightzone commented on #555
@ChrisLynchHPE
FEC is Forward Error Correction, can be configured for 25/100 Gb Ethernet uplink ports.

The need for and use of FEC increases as the signaling speed increases. However, certain switches do not enable or disable the FEC mode automatically based on the auto-negotiated transmission speed. This FEC mode must be set manually with the speed while editing the uplink sets.

From json file

[2021-02-22 16:56] ChrisLynchHPE commented on #555
Thanks.  I was looking at the UI to know where this feature was.

So, I'll add two new parameters then:

* `-PortSpeed`
* `-FecMode`

Which will be for all specified ports provided in the `-UplinkPorts` hashtable.

[2021-02-22 18:51] mathewcubovic commented on #154
Hi chris,
I exported JSON Template: `Get-HPOVServerProfileTemplate -Name SY_480_Teplate -Export -Location C:\install`
Converted from JSON and POST it like you mentioned and I get:

[code]

Using HPOneView.500 module, PS ISE.
If I use Powershell Corre 7 the task completes with Error TaskState.
Thanks for your sugestions.
Mathew

[ServerProfileTemplates.zip](https://github.com/HewlettPackard/POSH-HP

[2021-02-22 19:04] ChrisLynchHPE commented on #154
The issue is that the JSON itself contains extra content.  Remove the `[` on line 1, and the trailing `]` on line 169, and you can then perform the operation.  As I have done in the attached updated JSON file.

[ServerProfileTemplates_updated.zip](https://github.com/HewlettPackard/POSH-HPEOneView/files/6024531/ServerProfileTemplates_updated.zip)

[2021-02-22 20:18] phsimons opened #557 "Missing use case in the Cmdlet New-OVLdapGroup"
# Summary of the new feature/enhancement

I am using an appliance that is connected to AD with a service account.
I want to use New-OVLdapGroup to select a group in AD and assign it some roles/permissions.
But the command requiers authentication (mandatory) (I am already connected to the appliance with Connect-OVMgmt)

In the GUI/Web interface I don't need to provide credential to perform this ope

[2021-02-22 20:59] ChrisLynchHPE commented on #557
After looking at this when you first reported it on the HPE OneView Communities forum, the Cmdlet does support this, just not relaxing the credential requirement.  So, if you provide the `-Credential` parameter with a dummy value, like:

[code]

It should work.  I will be looking to address this in both `New-OVLdapGroup` and `Set-OVLdapGroup`.

[2021-02-23 10:32] mathewcubovic commented on #154
Hi Chris, thank you for your response, the extra brackets was the cause. The command now runs correctly, but unfortunately finish with TaskState Error. Maybe validation configuration fail? Are you sure, that mentioned rest api post is able to create whole ServerProfileTemplate from converted JSON? I suppose there are some info about it in appliance SupportDump. If yes could you please advice me wh

[2021-02-23 15:07] nightzone commented on #554
I was using wrong parameters for VCFC32Gb module.
Found correct:
$lig_bays = @{
 Frame1 = @{Bay1 = "SEVC32GbFC"}
}
New-OVLogicalInterconnectGroup  -FabricModuleType "SEVCFC"

Sorry, it was my mistake.

[2021-02-23 15:07] #554 closed, assigned to ChrisLynchHPE

[2021-02-23 15:52] nightzone opened #558 "Get-OVEnclosureGroup | ConvertTo-OVPowerShellScript generates wrong $ligX and $LigMapping variables."
### Expected Behavior
Have to generate working script that will create enclosure groups

### Actual Behavior
Generate script where $ligX variable list is incomplete and $LigMapping hash table wrong.

### Steps to reproduce
Get-OVEnclosureGroup  | ConvertTo-OVPowerShellScript > c:\temp\ov-script.ps1
and run script after that with changed EG name.

[2021-02-23 18:43] ChrisLynchHPE commented on #154
You need to examine the `taskErrors` property of the returned task.  So, you should do the following:

[code]

[2021-02-23 23:20] ChrisLynchHPE commented on #558
Thanks for reporting this.  It looks like the logic to build the calls to the various get logical interconnect group resources is flawed.  I'll work on fixing it.

[2021-02-24 04:15] ChrisLynchHPE commented on #556
This is actually missing logic in the associated Server.format.ps1xml file.  This will be fixed in the next library update.

[2021-02-24 09:31] mathewcubovic commented on #154
Great debug method Chris,
I got this output:
Message:  The value specified for the server profile template serial number assignment type is not valid or not supported.
Recommended actions:  Specify a valid serial number assignment type.
I changed the "serialNumberType": "**UserDefined**" value to "**Virtual**", and after that also iLO required define password, which value was null. And now the POS

[2021-02-24 17:13] ChrisLynchHPE commented on #154
If the `serialNumberType` or `macAddressType` are set to `UserDefined`, then you need to specify a value within the associated property.  For `macAddressType`, that would be within the `connections` property.

With what @c0c00n was trying to do, I would strongly suggest you use [ConvertTo-OVPowerShellScript](https://hpe-docs.gitbook.io/posh-hpeoneview/cmdlets/v5.50/library/convertto-ovpowershellsc

[2021-02-28 21:21] nightzone opened #560 "Cannot get unique EG by name with Get-OVEnclosureGroup if EG names are same, but different case."
### Expected Behavior
Get single/unique enclosure group object by name 'EG'

### Actual Behavior
returns array of enclosure groups with names 'EG', 'eg', 'Eg'

So in OneView EG name is case sensitive while in PowerShell it is not.

### Steps to reproduce
create few EG with same name and different case.
run  Get-OVEnclosureGroup -name <your_name>

[code]

[2021-03-01 20:09] ChrisLynchHPE commented on #560
This is not a bug with the library, rather OneView itself.  Resource object property values are supposed to be case-insensitive.  There is nothing for me to do here with the library, but I will pass this on to our OneView dev team to fix in a future OneView release.

[2021-03-01 20:09] #560 closed, assigned to ChrisLynchHPE

[2021-03-03 19:07] ChristianCarGit commented on #504
Working in 5.40.2681.1725. But it is back in the next and newest version 5.40.2689.2416.

Command used in 5.40.2689.2416:

# -------------- Attributes for Logical Interconnect Group "test"
$name                               = "test"
$frameCount                         = 1
$bayConfig                          = @{
                Frame1 = @{
                                Bay3 = 'SEVC100f32';

[2021-03-05 07:16] ChristianCarHPE opened #561 "Get-OVServerProfileTemplate | ConvertTo-OVPowerShellScript: Missing parameter $netName"
### Expected Behavior
Getting Server Profile Template information, converting it to PowerShell commands and reimporting it by using the automatically generated PowerShell code.
Using following command to generate the PowerShell code:
[code]
### Actual Behavior
PowerShell Code for reimporting the Server Profile Templates works fine but you are not able to use the generated code to reimporting the S

[2021-03-08 09:38] storagemike opened #562 "Show-HPOVUtilization not returning Current Power Value"
### Expected Behavior
 Get-HPOVEnclosure | Show-HPOVUtilization should show current, average and peak power readings.

### Actual Behavior
 Get-HPOVEnclosure | Show-HPOVUtilization
[Get-HPOVEnclosure Show-HPOVUtilization.txt](https://github.com/HewlettPackard/POSH-HPEOneView/files/6100331/Get-HPOVEnclosure.Show-HPOVUtilization.txt)
 only returns values for average and peak. Current always returns

[2021-03-08 19:31] ChrisLynchHPE commented on #562
What enclosure type is this?  c-Class or Synergy?  If Synergy, this isn't a bug, just not implemented at this time.  If c-Class, then there is no way to get the current power allocation from OneView, and this would be as designed.

[2021-03-08 21:41] ChrisLynchHPE commented on #562
Also, for HPE Synergy enclosures, the Current Power Allocation is a property of the enclosure resource itself:

[code]

[2021-03-09 10:40] storagemike commented on #534
Hi
I am still seeing an issue although slightly different this time round. I am still unable to export a firmware report
Verbose output attached
[Show-HPOVFirmwareReport.txt](https://github.com/HewlettPackard/POSH-HPEOneView/files/6107872/Show-HPOVFirmwareReport.txt)

[2021-03-09 15:30] ChrisLynchHPE commented on #534
You have a removed baseline here that was assigned to the enclosure and was never unassociated.  Deleting/removing a baseline from a repository does not unassociated it from resources like server profile templates, server profiles, logical enclosures and logical interconnects.  For now, please remove the baseline from the Logical Enclosure, then rerun this command.

[2021-03-16 08:41] santhoshpcv opened #563 "cannot connect to hpov global dashboard server via powershell"
[code]

I am getting this error please help.
I am using  hponeview.420 module version.

[2021-03-16 09:45] VincentBerger commented on #563
You cannot connect to OneView **Global Dashboard** with the OneView Powershell module. Different products with different APIs. There is no equivalent Powershell module for Global Dashboard. If you absolutely need it, there is an old OV Global Dashboard module hosted [here](https://github.com/HewlettPackard/GlobalDashboardPS), but it is not endorsed by HPE in any way and hasn't been updated in almo

[2021-03-16 15:04] ChrisLynchHPE commented on #563
The HPEOneView Global Dashboard PowerShell library Vinent linked to is a library supported by HPE.  I am in the process of getting some needed OneView PowerShell library updates released since I have published the 6.00 library.  I will then begin work on updating the [GlobalDashboardPS ](https://github.com/HewlettPackard/GlobalDashboardPS)module to supporting the newer OVGD releases.

[2021-03-24 17:24] ChrisLynchHPE opened #564 "Set-OVSmtpConfig -AlertEmailDisabled generates error that server port is required"
### Expected Behavior
This Cmdlet must be able to disable or enable email alerting without generating an error.

### Actual Behavior
When needing to disable email alerting on an appliance without removing email alert filters, `Set-OVSmtpConfig` generates an exception from the appliance REST API:

`SMTP oneview is required when SMTP oneview port is specified`

Sample async task JSON output:

[code]

[2021-04-07 14:05] bksaroja opened #565 "Unable to add Network connection while creating server profile"
Hi Team,

We are using POSH-HPEOneView v5.5.  We get the below error, when we try to add connections to server profile:

**Cannot validate argument on parameter 'RequestedBW'. The " [String]$_ -eq
'Auto'
-or ([Int]$_ -le 20000 -and [Int]$_ -ge 0) " validation script for the argument with value
"25000" did not return a result of True. Determine why the validation script failed, and then try
the com

[2021-04-07 15:53] ChrisLynchHPE commented on #565
It looks like you removed the bug report text needed to document the issue.  Please provide the following:

* What Cmdlet are you using?
* What is the syntax you are using?
* What version of the PowerShell library are you using?
* What version of PowerShell environment are you using?

[2021-04-07 16:00] ChrisLynchHPE commented on #565
If this issue is related to `New-OVServerProfileConnection`, that is a helper Cmdlet that creates an object to be used by `New-OVServerProfileTemplate` and `New-OVServerProfile` Cmdlets.  To workaround this, just use `-RequestedBW Auto`, then edit the object after it is returned and set the `requestedMbps` property to the value you wish and is supported.

For example:

[code]

[2021-04-08 05:59] bksaroja commented on #565
Incase I change the value of RequestBw to Auto I get the below error:
Add-Connection : Cannot convert value "Auto" to type "System.Int32". Error: "Input string was
not
in a correct format."

[2021-04-08 15:26] ChrisLynchHPE commented on #565
Set `-RequestedBW` it to an integer

[2021-04-13 15:27] odesaphy opened #566 "Cannot add Drive Enclosures to scope"
### Expected Behavior
Drive enclosure is added to the scope.

### Actual Behavior
Drive enclosure is not added to the scope.

### Steps to reproduce
[code]

in the Verbose output :
VERBOSE: [SEND-OVREQUEST] Request Body: [{"op":"add","path":"/addedResourceUris","value":[]}]

The value list in the request body is empty.

drive-enclosures is not in the $ScopeCategoryEnum HashTable

sas-interconnects

[2021-04-14 09:22] paulansky opened #567 "add new network to Synergy LIG"
Hi
I try to add new network to Synergy LIG but networkUris.Add returns error "Collection was of a fixed size."
Please help
[code]
### Version Information
HPE OneView PowerShell Library Version 6.0.2719.1668
HPE OneView Appliance Version 6.00.00.432224.00
Output from `$PSVersionTable` on your Windows Host:

[code]

[2021-04-14 16:15] ChrisLynchHPE commented on #567
This is not how you add networks to uplink sets.  You would use the provided [Set-OVUplinkSet](https://hpe-docs.gitbook.io/posh-hpeoneview/cmdlets/v6.00/networking/set-ovuplinkset) Cmdlet to perform this operation.

The `networkUris` property is an `[Array]` object.  It is a fixed size, and does not allow the `.Add()` method to be used. If you wanted to do this, you would need to use the `+=` oper

[2021-04-15 06:06] paulansky commented on #567
Thank you!

[2021-04-15 06:06] #567 closed, assigned to ChrisLynchHPE

[2021-04-16 14:02] odesaphy commented on #512
Only the NetworkSet uri is added to the UplinkSet.networkSetUris

UplinkSet.networkUris is not updated with the uris of the networks in the networkset

and so we have this error code : CRM_NETWORKSET_NETWORKS_IS_NOT_FOUND_IN_UPLINKSET_IN_LIG

[2021-04-16 14:10] #351 closed

[2021-04-16 16:33] ChrisLynchHPE commented on #512
Hmmm....  The API behavior was changed in newer releases.  Which library release are you using?

[2021-04-16 16:45] odesaphy commented on #512
I've used latest 5.50 library connected to 6.0 dcs

From the rest API reference LIG
networkUris :
A set of network set URIs assigned to the uplink set. The list can be empty but not null. NOTE: When adding a network set, also add its constituent networks to networkUris. When removing a network set, also remove its constituent networks from networkUris, unless they are to remain configured in the u

[2021-04-24 05:04] uzimmermann42 opened #568 "reset-ovEnclosureDevice should not default to Yes"
PS /home/uzimmermann> Reset-OVEnclosureDevice -Enclosure (Get-OVEnclosure -Name syncab4b-2) -Component Device -DeviceID 9 -Efuse

Confirm
Are you sure you want to perform this action?
Performing the operation "Reset power for device" on target "Device 9 within syncab4b-2".
[Y] Yes  [A] Yes to All  [N] No  [L] No to All  [S] Suspend  [?] Help (default is "Y"): n

I really think the default this sho

[2021-04-26 19:32] ChrisLynchHPE commented on #568
This isn't possible within the built-in `SupportsShouldProcess` and `ConfirmImpact = High` Cmdletbinding parameters.  This is the same behavior for all other Cmdlets that will cause service outage, or perform other `delete` operations, including all of the `Remove-OV` Cmdlets.

[2021-04-26 19:42] uzimmermann42 commented on #568
After further research I have found a way to do this. In order to have a
default response set to NO, ShouldContinue Method should be used instead of
ShouldProcess.

Reading the documentation
<https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.cmdlet.shouldcontinue?view=powershellsdk-1.1.0>
for
ShouldContinue has a section in the format

ShouldContinue(String, String, Boolean,

[2021-04-26 20:40] ChrisLynchHPE commented on #568
Sorry, but `ShouldContinue` is not the answer here.  While it does offer the ability to prompt the user with different prompts, it does not participate with `SupportsShouldProcess` decleration.  Changing this behavior would require multiple steps and prompts to get to the desired end behavior.  And as I stated already, this is the same used in all of the other Cmdlets.  Why would this request be l

[2021-04-30 12:59] erikgraa opened #569 "Get-OVBaseline throws error when HPE OneView has the latest SPP (2021.04.0)"
### Expected Behavior

The cmdlet

[code]

should return baseline(s).

### Actual Behavior

The cmdlet

[code]

returns the following:

[code]

### Steps to reproduce

1. Add the latest Gen10 SPP (2021.04.0) to HPE OneView 6.00
2. Run the cmdlet

[code]

### Version Information
HPE OneView PowerShell Library Version (`Get-OVVersion` or `$PSLibraryVersion`): 6.0.2719.1668
HPE OneView Appliance Vers

[2021-04-30 23:37] ChrisLynchHPE commented on #569
Can you provide the output from `Get-OVCommandTrace -ScriptBlock { Get-OVBaseline }`, and provide the generated file?

[2021-04-30 23:48] erikgraa commented on #569
Attached is the output from ```Get-OVCommandTrace -ScriptBlock { Get-OVBaseline }```

[2105010140_HPEOV_transcript.log](https://github.com/HewlettPackard/POSH-HPEOneView/files/6408508/2105010140_HPEOV_transcript.log)

[2021-05-05 16:22] ChrisLynchHPE commented on #569
Thanks.  I'm refactoring the logic on identifying this issue.  I'm trying to wrap up an update to the 6.0 library here, along with getting a 6.1 library out (for the just released OneView 6.1 version.)

[2021-05-20 14:44] stanfordwhite3 opened #570 "oneview.600 - connect-ovmgmt -hostname oneviewsvr -credential $credentials doesn't work."
I have been using connect-hpovmgmt to get a connection to a oneview instance.  It is being depreciated and I was told to use connect-ovmgmt, but I cannot get it to connect.   I am using 6.0.2719.1668\HPEOneView.600.psm1     Both call examples are below... the hpov one works, the ov one does not.   Any thoughts?

[code]

[2021-05-20 14:49] ChrisLynchHPE commented on #570
How did you get the library?  Did you install from PowerShell Gallery?  You may want to check that the `lib\HPEOneView_classes.dll` isn't blocked.  You can use the PowerShell Cmdlet [Unblock-File](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/unblock-file?view=powershell-7.1) if it is, or use File Explorer to unblock it from the file properties.

[2021-05-20 14:51] ChrisLynchHPE commented on #570
Also, please paste the output generated from the following:

[code]

[2021-05-20 16:26] stanfordwhite3 commented on #570
We do not have internet access on the server it is installed on so I used github to install it on my laptop and then manually moved the folder to the windows powerfully modules on the server.

I will check the Dell blocking and respond back.

Sent via the Samsung Galaxy Note9, an AT&T 5G Evolution capable smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________

[2021-05-20 18:02] stanfordwhite3 commented on #570
The $psversiontable | clip gave no output, so I included it w/o the clip.  I tried unblocking the file and trying it again.  same result.

[code]

[2021-05-20 18:04] stanfordwhite3 commented on #570
I did put the full file name on the unblock... sorry the cut and paste just shows the directory... but I put the full path in when I ran it.

[2021-05-20 20:33] ChrisLynchHPE commented on #570
You should not be downloading the clone of the repo here.  This does not and will not contain digitally signed assets.  As documented in the [Installer Changes](https://hpe-docs.gitbook.io/posh-hpeoneview/#installer-changes) section of the help, you would use the [Save-Module](https://go.microsoft.com/fwlink/?LinkId=531351) Cmdlet provided by Microsoft to download the published module from PowerSh

[2021-05-20 20:34] ChrisLynchHPE commented on #570
Also piping to clip will not generate any output to the console.  clip is a Microsoft Windows binary that will take the text from the pipeline and put it into your clipboard.

[2021-05-25 13:00] amitchettri opened #571 "OneView - Firemware Upgrade Completion Check"
Hello Team,

Hope you all are doing good!

This is in regards with the Firmware Upgrade through **OneView** using **iSUT**. We are stuck in the last stage where in, we trigger the firmware upgrade and not able to fetch/monitor the completion status through PowerShell.

We tried using **Get-OVServerProfileMessage** but we got a message which states that this module is obsolete and instead we can us

[2021-05-26 12:45] stanfordwhite3 commented on #570
I was able to get a proxy server setup and did the install-module -name hpeoneview.600 from powershellgalery.com and the module install successfully.   I also uninstalled the old module prior to reinstalling.   I am still getting the original error:

Unable to find type [HPEOneView.Appliance.Connection].    when I try to connect using:   connect-ovmgmt -hostname 'myhost' -credential (get-credentia

[2021-06-03 16:36] odesaphy commented on #512
I've tested with HPEOneView 6.10.2778.2020

And it's not working.

The error is in the ForEach loop adding network uris (from the networkset) in $_UpdatedNetworkUris

In the following loop $_net is a uri and so adding $_net.uri to the array doesn't work.

[code]

Fix :

[code]

[2021-06-08 09:13] AtomP4FX opened #572 "module HPEOneView.610 & 600 convert to script & export error"
**Expected Behavior**

running of cmdlets
`Get-OVServerProfileTemplate | ConvertTo-OVPowerShellScript -Export c:\temp\spt.csv`

will result in a file with
`$ThisNetwork                        = Get-OVNetwork -Type Ethernet -Name $netName`
string among connection variables.

**Actual Behavior**

[code]

File is created but there is no string
`$ThisNetwork                        = Get-OVNetwork -Typ

[2021-06-23 16:10] apapiro opened #573 "Show-OVUtilization "was not recognized as a valid DateTime""
When I use the showutilization parameter I get this error:

Get-OVServer -Name "ILOCZ3402XW33" | Show-OVUtilization
MethodInvocationException: C:\Users\ANPAPI1\Documents\PowerShell\Modules\HPEOneView.550\5.50.2794.1655\HPEOneView.550.psm1:60394
 Line |
60394 |  …                  [HPEOneView.ServerUtilization]::new($_resource.name,
      |                     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-07-06 19:35] j-crawford17 opened #574 "Get-HPOVBaseline Duplicate Key Error"
When running the Get-HPOVBaseline commandlet, I'll get the following error

[code]

Using Module - HPOneview.500
[code]

Error only occurs on OneView 5.00.02. Seems to run fine on OneView 5.30 and above.

[2021-07-06 19:59] ChrisLynchHPE commented on #571
Online firmware updates is not performed via a task, as that operation can be completely asyncronous.  You need to monitor alerts for the profile.  For instance, the following would get you a list of alerts for a profile that you had applied, but firmware installation was Online with Smart Update Tools and the server was powered off (or SUT wasn't in a running state):

[code]

[2021-07-06 19:59] #571 closed, assigned to ChrisLynchHPE

[2021-07-06 20:48] ChrisLynchHPE commented on #572
Any chance you can provide the profile template in JSON format in order to investigate further?

[code]

[2021-07-06 20:50] ChrisLynchHPE commented on #573
Can you please provide more detail on your environment?  Please provide the captured output from:

[code]

[2021-07-06 20:51] ChrisLynchHPE commented on #574
This is caused by the SPP/SSP containing multiple, duplicate keys, which PowerShell/C# does not allow.  Yes, this is fixed in newer versions of the library.  Unfortunately, the 5.00 library is no longer supported here.  Please update your use of the library and OneView to a current release.

[2021-07-07 13:33] jacobhopkins117 commented on #574
Hey Chris - Unfortunately we're currently blocked from upgrading beyond 5.00 due to [a00101430en_us](https://support.hpe.com/hpesc/public/docDisplay?docId=a00101430en_us&docLocale=en_US) until our engineers can finalize upgrading the Emulex firmware on hundreds of production systems. Are you aware of a workaround to get our ~300 Server Profile Templates modified?

[2021-07-07 19:01] ChrisLynchHPE commented on #574
Yes.  You can always natively edit the resource objects directly.  For instance, use the following:

[code]

[2021-07-07 21:05] jacobhopkins117 commented on #574
Great! Thank you for the follow up.

[2021-07-08 20:17] francescasuba opened #576 "Cannot convert 'System.Management.Automation.PSCustomObject' to 'BsonDocument'. -- Cannot convert 'HPEOneView.Library.ApplianceConnection' to 'BsonValue'."
`Import-Module -Name HPEOneView.600

$user = <redacted>

$pass = ConvertTo-SecureString <redacted> -AsPlainText -Force

$cred = New-Object System.Management.Automation.PSCredential ($user, $pass)

$hosts = <redacted>, <redacted>
foreach($h in $hosts){
    Connect-OVMgmt -Hostname $h -Credential $cred
    $finalResults = Get-OVAlert -Severity Critical -Count 10 | ConvertFrom-String
    Disconnect-O

[2021-07-08 20:19] ChrisLynchHPE commented on #576
What are you trying to do? Connect to the appliance's internal database? If so thag is not possible, as the only way to get to that data (limited) is using the native Cmdlets the library provides or use the REST API natively.

[2021-07-08 20:20] francescasuba commented on #576
No, I just want to grab the list of alerts from OneView as a PSObject and use another external module to input that PSObject into my Mongo database

[2021-07-08 20:21] francescasuba commented on #576
To add it to my Mongo database, I need a PSObject

[2021-07-08 20:24] francescasuba commented on #576
I am using the Mdbc Powershell module, if that helps

[2021-07-08 20:53] ChrisLynchHPE commented on #576
I'm sorry, add what exactly? What object? Please provide more context to what you are trying to do.

[2021-07-08 20:55] ChrisLynchHPE commented on #576
I see now. Your use of ConvertFrom-String is wrong here:

[code]

The return here would be objects, not strings. So not sure why you are doing that pipeline operation.

[2021-07-08 20:57] francescasuba commented on #576
I have two OneView hosts, and I want to use the Get-OVAlert command for both of those hosts to pull the critical alerts. I then have to take those alerts and put it in a MongoDB.

[2021-07-08 20:58] francescasuba commented on #576
I took ConvertFrom-String out and it's still showing the same error. It's reading those alerts as an HPEOneView.Library.Appliance.Connection

[2021-07-08 21:01] ChrisLynchHPE commented on #576
This is an issue with the target Cmdlet, not this library. You need to manually convert the objects returned from Get-OVAlert to something the target Cmdlet supports.

[2021-07-08 21:08] francescasuba commented on #576
What is the object type of the output of Get-OVAlert function? A PSObject?

[2021-07-09 12:17] francescasuba commented on #576
The target cmdlet supports PSObjects, which I thought Get-OVAlert returned

[2021-07-14 13:54] francescasuba commented on #576
This was solved when I converted the object to a hashtable.

[2021-07-14 13:54] #576 closed, assigned to ChrisLynchHPE

[2021-07-14 14:00] ChrisLynchHPE commented on #576
The returned object is a PSObject.  One of the properties is not.  It is the `ApplianceConnection` property, which is a custom strongly typed class.

[2021-07-22 21:25] zeshan1977 opened #577 "This is for synergy, Where is the one for DL Gen 10/ iLO5"
https://github.com/HewlettPackard/POSH-HPEOneView/blob/6.10/Samples/Alerts_Sample.ps1

[2021-07-22 21:32] #577 closed, assigned to nobody

[2021-07-28 07:53] salcinad opened #580 "Get-OVNetworkSet from an Get-OVNetwork"
I have an rather simple task to remove few VLANs from Synergy OneView Composer2. But would like to do it without using OneView GUI.

We add VLAN to OneView with "VLAN_1234" so the VLAN Name is known, but what I don't know in which Network Set(s) is these VLAN member of.

From OneView GUI Network Info:  Member of 3 network sets

I was trying something as:
`Get-OVNetwork -Name "VLAN_1234" | Get-OVNe

[2021-07-28 15:45] ChrisLynchHPE commented on #580
That isn't a use case `Get-OVNetworkSet` supports (although that is an interesting one).  Is the only operation you need to do is remove from network sets it is a member of?  If so, you can do the following:

[code]

[2021-07-29 06:37] salcinad commented on #580
Thank you for having time to check this, it is rather not the Issue but an Question still thank you for your time.

Exactly to remove the Network from Network Sets it is a member of. And then delete Network itself. We also use as suggested by HPE Consultant NetworkSets for Uplink set to, separated NetworkSet with "_USL_MyNetworkSet". So we need just to Add/Remove Network from the correct NetworkSe

[2021-07-29 13:16] ChrisLynchHPE commented on #580
`Member Of` is a Format property, and not one of the original object.  The reason why the `$NetworkSets` was empty was due to a typo I had on them`$IndexResults = Send-OVRequest -Uri $Uri` line (which I just fixed).  That is the way you would want to ideally process the removal of a network from a network set.

As for bulk removal of networks from a network set, the `Set-OVNetworkSet` already supp

[2021-08-12 09:23] jdkarpin opened #583 "Show-OVFirmwareReport does not test against provided baseline"
### Expected Behavior
[code]
### Actual Behavior
[code]

### Steps to reproduce

Bug is in HPEOneView.610.ps1 line 57875 in local function Ger-EnclosureFirmware.
If Enclosure have FW Managed then parameter $Baseline is ignored and $BaseLinePolicy is set to $_NoBaselinePolicy.

Also Get-ServerFirmware casts $Baseline to [Object] (line 58534) which cases script to fail (on $Baseline.Clone() which do

[2021-08-29 21:44] ChrisLynchHPE commented on #583
Apologies for the late reply here.  The main issue is that there is no conditional check if `$Baseline` is not empty.

Also, yes, the use of `.Clone()` is a bug here.  It should instead have been `.PSObject.Copy()`.

[2021-09-06 13:23] quinh commented on #154
Hi @ChrisLynchHPE  - i've the same thing to accomplish like mathew, syncing templates from one oneview instance to more than one other and i am looking for a way to do this.

I did what you recommended here:

and get:

[code]

I've the same Server-hardware-type across all oneviews. Is there any other possibility to actually synchronize the templates or should customers modify their templates rathe

[2021-09-08 16:31] ChrisLynchHPE commented on #154
Server profile templates and server profiles are the most complex resources within OneView.  They have many associations to other resources, and that is linked via resource uri's.  These addresses are unique per appliance.  The advice here is to instead of trying to export the resource object to JSON or PowerShell object format and attempt to "import" it to another appliance, use `ConvertTo-OVPowe

[2021-09-09 11:53] quinh commented on #154
@ChrisLynchHPE  - Thank you so much for your effort, I really appreciate your enthusiasm here to help user/customers.

As you suggested I've looked into the `ConvertTo-OVPowerShellScript` resource. I've dumped my test  into a .ps1 file and scanned through the lines to understand what this conversion is about.  Somewhere in this script you find the lines

[code]

So, I've 4 different Oneviews (Syne

[2021-09-09 15:37] ChrisLynchHPE commented on #154
My point wasn't for you to really look at the source code for the Cmdlet I referenced.  It does not help you here with the example I provided above about updating uri references in resource objects.  Instead, using it to create your resource objects on appliances where they don't exist.  Then, you really should develop a script that updates those resources across the appliances you have.  Deleting

[2021-09-09 16:37] DungKHoang commented on #154
@quinh - If I understand your iterations, you want to update some settings in SPT (BIOS, network connections, other....to ensure that SPTs in appliance 2 are 'compliant' with SPTs in Appliance 1
So to update SPTs by adding new values to existing settings ( iteration 2) and 3) ), the process would be:
1 - Get the SPT
2 - Locate the endpoint for the settings
3- Add new values to existing attributes

[2021-11-15 09:07] odesaphy commented on #512
I've tested successfully the AddNetworkSet usecase with HPEOneView.630 library (6.30.2913.2047)

The RemoveNetworkSet usecase is not working
`Get-OvLogicalInterconnectGroup -Name MY_VC_LIG | Set-OVUplinkSet -UplinkSetName MY_UPLINKSET -RemoveNetworkSet MY_NETWORKSET`
Only NetworkSet is removed but the networks in the network set are not removed from the UplinkSet

[2021-11-24 14:07] AtomP4FX opened #587 "Get-OVServerProfileTemplate | ConvertTo-OVPowerShellScript: DirectoryGroups and ManageIloSettings are not being added correctly"
### Expected Behavior
Getting Server Profile Template information, converting it to PowerShell commands and reimporting it by using the automatically generated PowerShell code.
Using following command to generate the PowerShell code:

`Get-OVServerProfileTemplate -name $name | ConvertTo-OVPowerShellScript | Out-File $path`
### Actual Behavior
PowerShell Code for converting the Server Profile Templ

[2021-11-24 14:55] BraendiAT opened #588 "New-OVIloDirectoryGroup/New-OVServerProfileTemplate empty GroupSID not possible"
When creating a Server Profile Template with managed ILO directory groups, the groupSID field cannot be empty/null when using the functions New-OVIloDirectoryGroup or New-OVServerProfileTemplate.
But an empty value is valid for this variable.
See the section of a JSON output of a Server Profile Template
[code]
OneView 6.30
`$ModuleVersion = '6.00.2719.1668'`

[2022-01-13 01:22] ericholton opened #589 "Get-OVIloSso to auth to HPEiLOCmdlets"
Hi, Is it possible to use Get-OVServer -Name "ServerName" | Get-OVIloSso and use the connection with the HPEiLOCmdlets?

I would like to be able to reconfigure iLO without having to modify the server profile and without having to first create credentials on the iLO.

It seems to only work with HPERESTCmdlets but I hate to reinvent the wheel when there are HPEiLOCmdlets functions that do what I nee

[2022-01-13 02:33] ChrisLynchHPE commented on #589
Unfortunately, the HPEiLOCmdlets do not use Redfish specs, so they cannot support session token authentication.  You will need to transition using the HPERESTCmdlets.

[2022-01-13 09:27] jullienl commented on #589
In fact since some recent versions of HPEiLOCmdlets, `Connect-HPEiLO` can be used with the `XAuthToken` parameter where you can specify the iLO SSO session key but this parameter is only supported on iLO5.

An example on how to use it with iLO5 servers:  [Set iLO5 to FIPS mode.ps1](https://github.com/jullienl/HPE-Synergy-OneView-demos/blob/master/Powershell/iLO/Set%20iLO5%20to%20FIPS%20mode.ps1)

[2022-01-14 00:14] ericholton commented on #589
@jullienl, Thank you very much! Your guidance was exactly what I needed.

[2022-01-14 00:14] #589 closed, assigned to nobody

[2022-01-20 20:11] zeshan1977 opened #590 "how to replicate settings from 1 OV to many OV instances"
I have say 10 OV Instances in production.
I configure the settings for notifcations per se in 1 OV or the network settings.

 How cn I replicate this throughtout my 9 OV instances?

a)s there a file with ALL OneView Attribs and there values, that I can get perhap iva REST API?

Question above spans DL and Synergy

[2022-01-20 22:45] aricbernard commented on #590
Evaluate: https://github.com/DungKHoang/Import-Export-OneView-Resources

[2022-01-27 13:54] davidwallis opened #591 "boot vlan"
I'm struggling to find how to set the bootVlanId

exporting a template and I can see the attribute under connections, boot:

![image](https://user-images.githubusercontent.com/13855486/151372477-619ee4b6-2843-4e5c-9802-81da01400a37.png)

it appears we need to configure this in the bios but struggling find any automation around this which is disappointing.

any pointers?

[2022-01-31 14:51] jullienl commented on #591
The reason you are struggling is because the `bootvlanID` is not available with a PXE boot enabled connection but only for a connection of FunctionType `iSCSI` (as documented in the REST API Reference). Furthermore, the Boot VLAN ID cannot even be defined in the GUI:

![image](https://user-images.githubusercontent.com/13134334/151783270-c106f903-8fcc-4283-851f-5456ee5c4f8d.png)

That's why the par

[2022-02-01 08:12] davidwallis commented on #591
Thanks for taking the time to reply, The reason I was trying to do this is more a legacy one internally in that the native Vlan is typically set to lets say 123 which is an unused vlan for 'security reasons'. The trunk / uplink has that configured, but our VMWare autodeploy server is in a specific vlan - at the moment we have made that the native vlan on the network set and that works, but I was t

[2022-02-01 10:05] jullienl commented on #591
This `VLAN control` option in the BIOS is available as long as you do not use Virtual Connect modules that require a server controlled by a OneView Server Profile resource. With VC modules, this option is not supported (unless you use an iSCSI function) and is therefore not exposed via the API for a standard Ethernet connection.

So you have no choice but to play with the native option in your upl

[2022-02-01 10:27] davidwallis commented on #591
would the above option change the mac address assignment of the box? (I don't really want to get into statically assigning these) as these are what we are using in autodeploy for the rules, coupled with config around dhcp.

Thanks for taking the time to explain.

[2022-02-01 10:35] jullienl commented on #591
No, changing a network assigned to a Server Profile connection does not change the MAC address assignment.

You can refer to https://support.hpe.com/hpesc/public/docDisplay?docId=sd00001194en_us&docLocale=en_US&page=s_profiles-about-editing.html to get the list of all changes you can do when the server is powered ON.

[2022-02-01 10:39] davidwallis commented on #591
Ok thanks, will have a play and see how we get on.

[2022-02-07 09:19] woertz opened #593 "Add-OVServer: missing force option"
[code]
I am getting this error please help.
I am using hponeview.630 module version.

[2022-02-07 09:46] jullienl commented on #593
Have you tried to use the `confirm` parameter? According to the help, this parameter can be used when the server is claimed by another appliance to bypass the confirmation prompt, and force add the server resource.

[2022-02-07 09:55] woertz commented on #593
Adding "-Confirm:$false" throws the same error.
What is a bit strange is the error message: The server hardware has already been added as ""
It should be: "The server hardware has already been added as "server.name.com"

[2022-02-07 10:06] jullienl commented on #593
Yes, it is strange. Maybe the initial add was not successful. You need to solve this problem first. Try refreshing this resource and once it has finished successfully, try your `remove-ovserver` command again.

[2022-02-07 10:14] woertz commented on #593
An initial add via OneView GUI is successful. Then a
[code]
works fine. But add via Powershell does not work.

[2022-02-09 02:47] cmbaker82 opened #594 "Connect-OVMgmt causes script to exit if already connected"
The problem described here: https://github.com/HewlettPackard/POSH-HPEOneView/issues/175
Is still active in 630

`Connect-OVMgmt -UserName Administrator -Password <password> -Hostname <host>`
works as expected if you are not connected; however if you are already connected it returns the following warning
`WARNING: You are already connected to <hostname>`
But the script does not continue to execute

[2022-02-09 18:41] davidvf opened #595 "C7000 enclosure powerCurrent reporting 0"
I am using HPEOneView.630 to get the utilization metrics from both Synergy and C7000.
On synergy this is working fine:
[code]

On C7000 enclosure, powerCurrent is always reporting 0
[code]

[2022-02-23 10:11] ckrege opened #596 "Upgrade from OV 5.60 to 6.00.01 fails using PS scripts"
This issue contained sensitive customer information.  Handled internally to HPE.

[2022-03-10 17:32] davidwallis opened #597 "NEtwork set to Logical Interconnect Group"
Hi,

Whats the process for adding a new networkset and the contained networks to alogical interconnect group / uplink set?

i've tried

[code]
is there an example

[2022-03-10 22:54] davidwallis commented on #597
think I've got something that works, not 100% sure on whether its the best way - would be nice if I wasn't rushing to get this lot in and working!

$interconnectGroupName = "ig1"
$networkSetName = "ns1"

[code]

[2022-03-11 10:36] KranthiKG opened #599 "Get-OVServerProfile -Name XXXXX -Detailed gives Firmware Baseline as none"
The output of below cmdlet provides with lot of information but the Firmware Baseline is none. even though we have firmware baseline set in the profile.

Get-OVServerProfile -Name XXXXX -Detailed

Firmware Baseline
-----------------
none

PS C:\Windows\system32> Get-OVVersion

My Appliance                       LibraryVersion Path
-------------                       -------------- ----
ApplianceVe

[2022-03-22 11:23] oolivera15 opened #600 "Issue with San Storage in New-OVServerProfileTemplate"
**Expected Behavior**
New-OVServerProfileTemplate should create the server profile with the SAN Storage information.

**Actual Behavior**
New-OVServerProfileTemplate create the server profile without the SAN Storage information.
This information can be added via the web interface, but it does not work with the API.

**Steps to reproduce**

[code]

**Version Information**
Powershell:
[code]
HPEOneV

[2022-03-22 12:34] oolivera15 opened #601 "Issue with Connections (WWPN) in New-OVServerProfileTemplate"
**Expected Behavior**
New-OVServerProfileTemplate should create the Connections with the WWPN information.

**Actual Behavior**

New-OVServerProfileTemplate create the server profile without the WWPN Connections information.
This information can be checked via the web interface where it shows "WWPN: pending assignment".

This situation causes an error when creating a server profile from the templa

[2022-03-25 08:41] oolivera15 opened #603 "Issue with Add-OVStorageSystem"
**Expected Behavior**
Add-OVStorageSystem should support Alletra9000.

**Actual Behavior**
Add-OVStorageSystem does not support Alletra9000.

**Steps to reproduce**
[code]

**Version Information**
Powershell:

[code]
HPEOneView: 6.50.00-0452161

HPEOneView module:

[code]
Could you please help us to solve this issue?
Thank you!

[2022-03-25 14:01] jullienl commented on #601
For DL servers, you are supposed to use the `FCConnectionAddresses` parameter to define the WWPN value that should be associated with a connection, for example :

[code]

[2022-03-25 14:07] jullienl commented on #594
To workaround this, you can use `if (! $ConnectedSessions) { connect-OVMgmt...}` so that if you are already connected, the script will continue to execute.

[2022-03-25 15:59] jullienl commented on #601
A fix is required to make the WWPN correctly assigned to the SP object, see #604

[2022-03-29 09:49] oolivera15 commented on #601
Hello.

The procedure is working now.
Will this new change be added to the HPEOneView module?

Thank you very much for your answer!

[2022-04-04 15:35] GitHubManigr opened #605 "Get-OVAlert -Start -End"
we discovered an issue with the command **Get-OVAlert** -Start "2022-01-01" -End "2022-04-04", this should according to the documentation return all alerts starting at 2012-**01-01** to 2022-**04-04**
( "Example 9" at https://hpe-docs.gitbook.io/posh-hpeoneview/cmdlets/v5.50/appliance/get-ovalert ).

BUT the result is:  ( empty )

Command:  	Get-OVAlert -Start "2022-**01-01**" -End "2022-**04-04**

[2022-04-05 08:41] #597 closed, assigned to nobody

[2022-04-07 20:32] davidwallis opened #606 "unassigned FC network"
I'm trying to do this in a server profile

[code]

but I get:

[code]

any workarounds or is it user error?

[2022-04-08 09:28] davidwallis opened #607 "unable to set untagged network"
the following doesnt work for setting the untagged network - however works in the UI.

[code]

Command output:

[code]

[2022-04-12 13:48] jullienl commented on #607
I don't see any error in your verbose logs, the API returns a 202 response status which is a successful return from an asynchronous update operation. Can you provide the error message you are seeing?

[2022-04-12 14:28] jullienl commented on #606
Instead of `ConnectionType FibreChannel`, use `ConnectionType FC `and it will work like:
`$conn3 = New-OVServerProfileConnection -ConnectionID 3 -ConnectionType FC -Network Unassigned -PortId "Mezz 3:1-b"`

[2022-04-13 11:15] davidwallis commented on #606
thanks, I tried that:

[code]

params for the splat on above are:

[code]

[2022-04-13 11:44] davidwallis commented on #607
That's just it, I'm not getting an error - nor is the change occuring.

[2022-04-13 13:28] jullienl commented on #607
Hmm... I tested the same command in my environment and it works on my end. This command changes the Logical Interconnect resource (which is not recommended), so be sure to look in the LI resource (and not LIG) to verify that the change is taking place.

Or you can use:
[code]

[2022-04-20 08:54] jullienl commented on #606
When a port is unassigned, the cmdlet requires the `RequestedBW` to be set to `0`.
So try to use:
`$conn3= New-OVServerProfileConnection -Network unassigned -ConnectionID 5 -ConnectionType FC -PortId "Mezz 3:1-b" -RequestedBW 0`

[2022-04-20 10:45] davidwallis commented on #606
thanks that gets it in, however hitting what I think is a bug in the module:

[code]

[2022-04-25 07:46] oolivera15 commented on #603
Hello!

Could someone please help us with this issue? We need a solution urgently.

Thank you!

[2022-04-25 08:15] jullienl commented on #603
Until the library is updated to support Alletra 9000, you can make a direct call to the Oneview API using `invoke-webrequest`. You will need to build your script like https://github.com/jullienl/HPE-Synergy-OneView-demos/blob/master/Powershell/OneView/Disable-OneView-TLS1.1.ps1 but using :
[code]

[2022-04-25 10:00] oolivera15 commented on #603
Hi Jullien!

Thank you for your answer.
That procedure allows to add Alletra9000 in "Connected" state, but it not possible to change it to "Managed".
Is there any way to add Alletra9000 in OneView in "Managed" state?

Thank you!

[2022-04-25 10:13] jullienl commented on #603
I think you just need to perform a GET on your storage system using `GET /rest/storage-systems/{id}` and use the storage system object to create a new request body but this time using the `PUT` method and changing the `state` property to `Managed`.

[2022-04-25 11:09] oolivera15 commented on #603
Hi Jullien!

I have tried the procedure you described:
1-Add Alletra9000 in "Connected" state using POST /rest/storage-systems
2-Get Alletra9000 object using GET /rest/storage-systems/{id} and modify state to "Managed"
3-Try to modify Alletra9000 to "Connected" state using PUT /rest/storage-systems/{id}

However it seems that state property cannot be changed once Alletra9000 has been added, it can

[2022-04-25 12:55] jullienl commented on #603
You can perform the add storage operation using the OneView GUI by pressing F12 to open the developer tools so you can inspect in the Network tab the calls used through the browser. Locate the PUT and POST calls and examine the Request/Payload sub-tab to see the body content you need to build. Then use the same con tent in your PowerShell script.

[2022-04-26 15:04] mcrossley opened #608 "Add Lightweight Views like VMware PowerCLI"
I have just been running a script against all the servers in an OneView instance - hundreds of them.
I was using ver 600 of the cmdlets.

The input was in the form of server profile names. I needed to process the server hardware.

Loading the server hardware objects at the start of the script took around 15 minutes and used a fair bit of memory. (iterating over the name list to get the server prof

[2022-04-26 15:20] #608 closed, assigned to nobody

[2022-04-26 15:20] mcrossley commented on #608
I guess you can use Search-OVIndex for this - doh!

[2022-05-10 14:01] mlengnin opened #609 "Enable-OVComposerIlo not working as expected"
Two issues found with Enable-OVComposerIlo (line # mentioned are based on Ver. 6.30.2928.3678)

### First issue: Model Type is incorrectly validated (line 55469)

# Validate Composer type is Composer2
        if ($InputObject.model -ne "Synergy Composer2")

# Modelstring of Composer 2 has no blank, so this should be like this:
        if ($InputObject.model -ne "SynergyComposer2")

### Second issu

[2022-05-17 08:11] salcinad commented on #580
Seems like there is Problem with getting full network set resources from the API.
If I try again your code above i'll get the following error.

Using HPEOneView.630 ( 6.30.2928.3678) with the HPE OneView Composer2  6.50.00-0452161 and PSVersion                      5.1.17763.2803

[code]

The same error we get also from NetworkSets which does not contain "_USL_Name" at the begging.

If I just chec

[2022-05-24 14:45] stephan-koch opened #610 "Get-OVServerProfileConnectionList not working"
I am getting an error when issuing the Get-OVServerProfileConnectionList against an Synergy 6.6 OneView version

[code]
Do I something wrong?

[2022-05-25 10:09] jullienl commented on #610
`Get-OVServerProfileConnectionList` works on my side so you may have a different problem. Are you sure you don't have an old HPEOneView module still installed on your machine?

What does the following command return?
`get-module -ListAvailable | ? name -match hpeoneview`

[2022-05-25 10:33] stephan-koch commented on #610
tried it before on POSH on Linux, but also for the Windows Version I get:

[code]
I am connected to an 6.60 synergy

[2022-05-25 11:00] jullienl commented on #610
Good, looks like you only have one version of the HPEOneview module,

Can you give the output now of: `Get-OVServerProfileConnectionList -verbose`

[2022-05-25 11:08] stephan-koch commented on #610
[GetOVServerProfileConnectionList-verbose.txt](https://github.com/HewlettPackard/POSH-HPEOneView/files/8770485/GetOVServerProfileConnectionList-verbose.txt)

attached.

[2022-05-25 21:53] MSHAFFER64 opened #611 "Get-OVserver | Get-OVRemoteSupportSetting command errors with Add-Member : cannot add member, see attached output"
[Get-OVserver_Get-OVRemoteSupportSetting_Error.txt](https://github.com/HewlettPackard/POSH-HPEOneView/files/8774742/Get-OVserver_Get-OVRemoteSupportSetting_Error.txt)

[2022-06-22 00:11] ChrisLynchHPE commented on #610
When you run this, can you please provide the output from `$error | Format-List * -Force`?  I can't reproduce this either.

All Cmdlets are available for any PowerShell client.  None are restricted to Windows PowerShell.

[2022-06-22 00:47] ChrisLynchHPE commented on #607
Is this still an issue?  You can see that in the PUT operation to update the LI the following network URI:

[code]

Is set to the `nativeNetworkUri` property:

[code]

[2022-06-22 00:52] ChrisLynchHPE commented on #606
Yes, that is a defect.  Both `New-OVServerProfile` and `New-OVServerProfileTemplate` do not handle unassigned connections propertly, and will error on that improperly evaluated expression.

[2022-06-22 01:11] ChrisLynchHPE commented on #606
Also, the validation logic when building the connection helper object omitted `FibreChannel` that Lionel pointed out.

[2022-06-22 01:19] ChrisLynchHPE commented on #605
I'm not able to reproduce this behavior.  `-Start` is closest to now.  `-End` is how far back you want to filter for.

[code]

[2022-06-22 01:21] ChrisLynchHPE commented on #603
Support is being added to the 6.30 library.

[2022-06-22 02:31] #596 closed, assigned to nobody

[2022-06-22 02:54] ChrisLynchHPE commented on #595
This is caused by the Cmdlet not handling the c-Class enclosure correctly.  Current power is not stored with the enclosure API object, like a Synergy enclosure resource does.

[2022-06-22 03:20] ChrisLynchHPE commented on #594
@jullienl offers a good workaround.  However, the Cmdlet does need to be fixed.  It currently uses `Continue` after displaying the `Write-Verbose` message.  This should not have been used:

[2022-06-22 03:32] ChrisLynchHPE commented on #593
Add-OVServer will attempt to add the specified server resource.  A task is part of that attempt.  If the server was claimed by another appliance, then it will generate a confirmation message asking if you wish to force claim the server.  That is what `-Confirm:$false` will override.

If the server is added already to the same appliance, it will terminate stating the server is already present and a

[2022-06-22 03:33] ChrisLynchHPE commented on #591
Closing conversation due to no further activity.  This issue can be re-opened if needed.

[2022-06-22 03:33] #591 closed, assigned to nobody

[2022-06-22 20:30] ChrisLynchHPE commented on #580
Closing due to no further activity.  This issue can always be re-opened if needed.

[2022-06-22 20:30] #580 closed, assigned to ChrisLynchHPE

[2022-06-22 20:45] ChrisLynchHPE commented on #574
Closing due to no further activity.

[2022-06-22 20:45] #574 closed, assigned to ChrisLynchHPE

[2022-06-22 20:46] ChrisLynchHPE commented on #573
Closing do to no further activity.  This issue can always be re-opened if needed.

[2022-06-22 20:46] #573 closed, assigned to ChrisLynchHPE

[2022-06-22 20:47] ChrisLynchHPE commented on #572
Fix commits were made to address this.  Closing due to no further activity.

[2022-06-22 20:47] #572 closed, assigned to ChrisLynchHPE

[2022-06-22 20:48] ChrisLynchHPE commented on #570
Closing due to no further activity. This issue can always be re-opened if needed.

[2022-06-22 20:48] #570 closed, assigned to nobody

[2022-06-22 20:49] ChrisLynchHPE commented on #569
Fixes were committed and released to help address this issue.  Closing due to no further activity.  This issue can always be re-opened if needed.

[2022-06-22 20:49] #569 closed, assigned to ChrisLynchHPE

[2022-06-22 20:50] ChrisLynchHPE commented on #568
Closing due to no further activity.  This issue can always be re-opened if needed.

[2022-06-22 20:50] #568 closed, assigned to ChrisLynchHPE

[2022-06-22 21:00] ChrisLynchHPE commented on #566
Support for adding Synergy D3940 drive enclosures to scopes was added in the 5.40.2929.2263 release.

Closing due to no further activity.  This issue can always be re-opened if needed.

[2022-06-22 21:00] #566 closed, assigned to nobody

[2022-06-23 06:57] davidwallis commented on #607
I never got to the bottom of it - but I've got the hardware in production now, so don't really have a way to test it, I just kind of accepted that even though I was scripting the whole deployment of the frames etc this bit was configured manually after the initial config.. and it was a one off.

[2022-06-24 16:55] ChrisLynchHPE commented on #607
Thanks for the update.  Closing issue.  If you experience it again, please use the [Get-OVCommandTrace](https://hpe-docs.gitbook.io/posh-hpeoneview/cmdlets/v6.30/library/get-ovcommandtrace) to capture the API exchange to figure out what is going on.  You can either re-open this or create a new one.

[2022-06-24 16:55] #607 closed, assigned to ChrisLynchHPE

[2022-06-27 06:24] stephan-koch commented on #610
here is the output you requested:

[code]

[2022-07-13 12:47] odesaphy opened #612 "[Synergy] : New-OvLogicalInterconnectGroup with -UplinkSet Param : UplinkSet Name = Lig Name"
My code :

[code]

LIG "lig36" is created with one Ethernet UplinkSet named "lig36"

![image](https://user-images.githubusercontent.com/25363168/178735650-6b2af598-ed61-4177-85ec-e59f573c435e.png)

Tested with POSH 6.30.2928.3678 on a Synergy OV 6.60

The issue is in Function BuildUplinkSet on line 95278

`$_UplinkSetObject.name = $Name`
should be
`$_UplinkSetObject.name = $Params.Name`

[2022-07-18 22:08] ChrisLynchHPE commented on #610
Can you update the 6.30 library to the newest version I just published, `6.30.3188.1900`?

[2022-07-18 22:11] ChrisLynchHPE commented on #612
I just published an update to the 6.30 library that should address this issue.  Please update to [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 05:30] stephan-koch commented on #610
Thanks. done this, but did not solve the issue:
[code]

[2022-07-19 12:32] odesaphy commented on #612
Issue is fixed. Thanks a lot.

[2022-07-19 12:32] #612 closed, assigned to ChrisLynchHPE

[2022-07-19 13:57] ChrisLynchHPE commented on #610
Do you have any server profile resources defined with connections that have no network/network set assigned?

[2022-07-19 14:56] stephan-koch commented on #610
Yes, had this. Changed the connections to any network, re-run the command and it is working as expected. So has to do with unassigned Connections.

[2022-07-19 17:49] ChrisLynchHPE commented on #611
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 17:51] ChrisLynchHPE commented on #609
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 17:51] ChrisLynchHPE commented on #606
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 17:52] ChrisLynchHPE commented on #603
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 17:53] ChrisLynchHPE commented on #601
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 17:54] ChrisLynchHPE commented on #600
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 17:54] ChrisLynchHPE commented on #599
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 17:57] ChrisLynchHPE commented on #595
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 17:58] ChrisLynchHPE commented on #594
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 17:58] ChrisLynchHPE commented on #593
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 17:58] #593 closed, assigned to ChrisLynchHPE

[2022-07-19 17:59] ChrisLynchHPE commented on #590
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 17:59] #590 closed, assigned to nobody

[2022-07-19 17:59] ChrisLynchHPE commented on #588
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 18:00] ChrisLynchHPE commented on #587
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 18:00] ChrisLynchHPE commented on #583
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 18:10] ChrisLynchHPE commented on #565
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:10] #565 closed, assigned to ChrisLynchHPE

[2022-07-19 18:12] ChrisLynchHPE commented on #562
This was duplicated by #595.

Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:12] #562 closed, assigned to ChrisLynchHPE

[2022-07-19 18:13] ChrisLynchHPE commented on #555
This feature was added to the 6.x releases of the library.

Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:13] #555 closed, assigned to nobody

[2022-07-19 18:14] ChrisLynchHPE commented on #534
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:14] #534 closed, assigned to ChrisLynchHPE

[2022-07-19 18:14] ChrisLynchHPE commented on #538
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:14] #538 closed, assigned to ChrisLynchHPE

[2022-07-19 18:15] ChrisLynchHPE commented on #548
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:15] #548 closed, assigned to ChrisLynchHPE

[2022-07-19 18:15] ChrisLynchHPE commented on #552
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:15] #552 closed, assigned to ChrisLynchHPE

[2022-07-19 18:16] ChrisLynchHPE commented on #553
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:16] #553 closed, assigned to ChrisLynchHPE

[2022-07-19 18:16] ChrisLynchHPE commented on #556
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:16] #556 closed, assigned to ChrisLynchHPE

[2022-07-19 18:48] ChrisLynchHPE commented on #557
The `-Credential` parameter was relaxed and no longer required by the 6.00 library release.

Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:48] #557 closed, assigned to ChrisLynchHPE

[2022-07-19 18:49] ChrisLynchHPE commented on #558
This was addressed in the impacted libraries, and by the 6.00 library release.

Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:49] #558 closed, assigned to ChrisLynchHPE

[2022-07-19 18:50] ChrisLynchHPE commented on #561
This issue was addressed in the following releases of the impacted libraries, and in the 6.00 library release.

Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:50] #561 closed, assigned to ChrisLynchHPE

[2022-07-19 18:51] ChrisLynchHPE commented on #564
This was addressed in the noted libraries above, and in the 6.00 library release.

Closing.

[2022-07-19 18:51] #564 closed, assigned to ChrisLynchHPE

[2022-07-19 18:51] ChrisLynchHPE commented on #507
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:51] #507 closed, assigned to nobody

[2022-07-19 18:52] ChrisLynchHPE commented on #506
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:52] #506 closed, assigned to ChrisLynchHPE

[2022-07-19 18:52] ChrisLynchHPE commented on #505
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:52] #505 closed, assigned to ChrisLynchHPE

[2022-07-19 18:53] ChrisLynchHPE commented on #528
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:53] #528 closed, assigned to ChrisLynchHPE

[2022-07-19 18:53] ChrisLynchHPE commented on #525
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:53] #525 closed, assigned to ChrisLynchHPE

[2022-07-19 18:54] ChrisLynchHPE commented on #563
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:54] #563 closed, assigned to ChrisLynchHPE

[2022-07-19 18:55] ChrisLynchHPE commented on #517
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:55] #517 closed, assigned to ChrisLynchHPE

[2022-07-19 18:55] ChrisLynchHPE commented on #515
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:55] #515 closed, assigned to ChrisLynchHPE

[2022-07-19 18:56] ChrisLynchHPE commented on #512
This is fixed in [Release 6.30.3188.1900](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.30.3188.1900) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.630/6.30.3188.1900).

Please verify before this issue is closed.

[2022-07-19 18:57] ChrisLynchHPE commented on #511
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:57] #511 closed, assigned to ChrisLynchHPE

[2022-07-19 18:57] ChrisLynchHPE commented on #509
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:57] #509 closed, assigned to ChrisLynchHPE

[2022-07-19 18:57] ChrisLynchHPE commented on #504
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:57] #504 closed, assigned to ChrisLynchHPE

[2022-07-19 18:59] ChrisLynchHPE commented on #499
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:59] #499 closed, assigned to ChrisLynchHPE

[2022-07-19 18:59] ChrisLynchHPE commented on #497
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:59] #497 closed, assigned to ChrisLynchHPE

[2022-07-19 18:59] ChrisLynchHPE commented on #495
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:59] #495 closed, assigned to ChrisLynchHPE

[2022-07-19 18:59] ChrisLynchHPE commented on #494
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 18:59] #494 closed, assigned to ChrisLynchHPE

[2022-07-19 19:01] ChrisLynchHPE commented on #454
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 19:01] #454 closed, assigned to nobody

[2022-07-19 19:03] ChrisLynchHPE commented on #448
Uplink port speed can be set where supported in `New-OVUplinkSet` using the `-PortSpeed` parameter.  This feature was added in the 5.x library versions.

Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 19:03] #448 closed, assigned to ChrisLynchHPE

[2022-07-19 19:03] ChrisLynchHPE commented on #420
Nimble support was added in the 5.x library updates.

Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 19:03] #420 closed, assigned to ChrisLynchHPE

[2022-07-19 19:04] ChrisLynchHPE commented on #373
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 19:04] #373 closed

[2022-07-19 19:04] ChrisLynchHPE commented on #297
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 19:04] #297 closed

[2022-07-19 19:05] ChrisLynchHPE commented on #265
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 19:05] #265 closed

[2022-07-19 19:05] ChrisLynchHPE commented on #154
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 19:05] #154 closed

[2022-07-19 19:06] ChrisLynchHPE commented on #106
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-07-19 19:06] #106 closed

[2022-07-19 19:08] ChrisLynchHPE commented on #105
This functionality was added to core HPE OneView and the library introduced a compliance preview report when using the `Update-OVServerProfile` Cmdlet.

Closing due to no further activity.

[2022-07-19 19:08] #105 closed

[2022-07-20 14:36] odesaphy commented on #512
In the "ForEach ($_netUriToRemove in $_NetSetToRemove.networkUris)" loop there is a lookup via index for net to netset association

If the result count is > 0 then the network is not removed from the uplinkset (not removed from $_UpdatedNetworkUris)
but as we looping through the networks of a networkset the result count of NETWORKSET_TO_NETWORK will be always >= 1

So if result count is > 1 (netwo

[2022-07-20 17:06] ChrisLynchHPE commented on #512
What you are proposing isn't correct.  You can assign multiple network set resources to a single uplink set, where a network can be assigned to one or more of those network sets.  The logic here is to ensure that the networks within the network set being removed aren't removed by accident when there are multiple network sets assigned.

After looking at this further, the evaluation logic here isn't

[2022-08-05 15:32] seamusobr1 opened #613 "Problems with loading hponeview.300"
I am having issues loading hponeview.300 and get the error below. I need this version as the 310 version will not connect correctly and I get api errors. I can import the 310 version successfully just wondering if you know of any way I can load the 300 version

Many Thanks

mport-module : Could not load file or assembly
'file:///C:\Users\a1207393\Documents\WindowsPowerShell\Modules\HPOneView.300\l

[2022-08-05 15:49] ChrisLynchHPE commented on #613
How did you obtain the library?  Can you verify that the DLL is in the directory?  Also, did you try to unblock the file using `Unblock-File C:\Users\a1207393\Documents\WindowsPowerShell\Modules\HPOneView.300\lib\HPOneView_Classes.dll`?

Please know that any of the libraries older than 6.00 are no longer supported and no further updates will be provided.  If you also have an HPE OneView 3.x applia

[2022-08-05 15:57] ChrisLynchHPE commented on #613
If you just did a git pull from the 3.00 branch, that isn't how you install the library.  Please download the EXE installer [here](https://github.com/HewlettPackard/POSH-HPEOneView/releases/download/v3.0.1358.2596/HPE.OneView.3.00.PowerShell.Library.exe).  That is the final release of the 3.00 library and is provided as-is.

[2022-08-10 14:12] seamusobr1 commented on #613
That is fantastic worked as you said managed to get the ome appliance up to 7.1
Thanks for your help

[2022-08-10 16:10] ChrisLynchHPE commented on #613
Glad you are set.  Closing.

[2022-08-10 16:10] #613 closed, assigned to ChrisLynchHPE

[2022-08-23 14:26] ajayvaaka opened #614 "Get-OVserver -name $server | Get-OVIloSso -IloRestSession"
### Expected Behavior
Need to provide iLO session key

### Actual Behavior

Exception calling "GetResponse" with "0" argument(s): "The SSL connection could not
     | be established, see inner exception."

### Steps to reproduce

[code]

### Version Information

[code]

[2022-08-23 21:57] ChrisLynchHPE commented on #614
This isn't necessarily a bug with the PowerShell library.  That is if you are using self-signed certificates (which is the default) on your iLO's.  There is a change in PowerShell Core that introduced an issue with how to handle self-signed certificates than what we used to do in say Windows PowerShell (PowerShell 5.x).

With iLO, the Subject and Issuer do not match.  The Subject starts with ILO,

[2022-09-01 12:08] stephan-koch opened #615 "Feature Request: Add HealthCategory Security to valid Category to Get-OVAlert Cmdlet"
# Summary of the new feature/enhancement

Get-OVAlert does not allow to filter on HealthCategory Security.
Please add it.

 Get-OVAlert -AlertState Active -HealthCategory Security

# Proposed technical implementation details (optional)

[2022-11-03 16:53] kymra27 opened #619 "Get-OvLogicalInterconnectGroup -Name "XXXXXXXXX" -ErrorAction Stop | Set-OVUplinkSet -UplinkSetName "YYYYYYYYYY" -AddNetwork "ZZZZZZZZZZZZZ TaskState Error""
Hello,

I contact you for this problem. when I add a network via the command:

Get-OvLogicalInterconnectGroup -Name "XXXXXXXXX" -ErrorAction Stop | Set-OVUplinkSet -UplinkSetName "YYYYYYYYYY" -AddNetwork "ZZZZZZZZZZZZZZ"

I receive in return an error message which indicates that the TaskState is in error.
I don't have any details to solve this problem.

I logged into GUI and in Activity my error d

[2022-11-03 16:59] ChrisLynchHPE commented on #619
You need to capture the task object into a variable, then look at the `.taskErrors` property:

[code]

[2022-11-03 16:59] #619 closed, assigned to nobody

[2022-11-14 16:46] ChrisLynchHPE commented on #615
This was added to the library starting with the 7.10 library release.  I will be adding this back to the 6.60 and 7.00 libraries soon.

[2022-11-14 16:48] ChrisLynchHPE commented on #614
This was addressed in the 7.00 library.  I will backport this to a 6.60 library release soon.

[2022-11-14 16:48] ChrisLynchHPE commented on #611
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:48] #611 closed, assigned to ChrisLynchHPE

[2022-11-14 16:49] ChrisLynchHPE commented on #609
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:49] #609 closed, assigned to ChrisLynchHPE

[2022-11-14 16:49] ChrisLynchHPE commented on #606
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:49] #606 closed, assigned to ChrisLynchHPE

[2022-11-14 16:50] ChrisLynchHPE commented on #603
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:50] #603 closed, assigned to ChrisLynchHPE

[2022-11-14 16:50] ChrisLynchHPE commented on #601
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:50] #601 closed, assigned to ChrisLynchHPE

[2022-11-14 16:51] ChrisLynchHPE commented on #600
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:51] #600 closed, assigned to ChrisLynchHPE

[2022-11-14 16:51] ChrisLynchHPE commented on #599
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:51] #599 closed, assigned to ChrisLynchHPE

[2022-11-14 16:51] ChrisLynchHPE commented on #595
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:51] #595 closed, assigned to ChrisLynchHPE

[2022-11-14 16:52] ChrisLynchHPE commented on #588
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:52] #588 closed, assigned to ChrisLynchHPE

[2022-11-14 16:52] ChrisLynchHPE commented on #587
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:52] #587 closed, assigned to ChrisLynchHPE

[2022-11-14 16:53] ChrisLynchHPE commented on #594
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:53] #594 closed, assigned to ChrisLynchHPE

[2022-11-14 16:53] ChrisLynchHPE commented on #512
This is fixed in Release 6.60.3227.2799, published in the [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.660/6.60.3227.2799).

Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:53] #512 closed, assigned to ChrisLynchHPE

[2022-11-14 16:57] ChrisLynchHPE commented on #583
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-14 16:57] #583 closed, assigned to ChrisLynchHPE

[2022-11-14 18:27] ChrisLynchHPE commented on #610
Apologies for not notifying this soon.  This was addressed in the 6.60 library update, and is available on PowerShell Gallery [here](https://www.powershellgallery.com/packages/HPEOneView.660/6.60.3234.2195).  I have no plans to backport this to older library releases.

Please verify before this issue is closed.

[2022-11-16 23:38] ChrisLynchHPE commented on #615
I just pushed out updated 6.60 and 7.00 libraries that contain this enhancement.  Both are available on PowerShell Gallery.

[2022-11-18 20:58] ChrisLynchHPE commented on #614
This has been addressed in:

* [Release 6.60.3332.3428](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v6.60.3332.3428) and in [PowerShell Gallery](https://www.powershellgallery.com/packages/HPEOneView.660/6.60.3332.3428)
* [Release 7.00.3333.2084](https://github.com/HewlettPackard/POSH-HPEOneView/releases/tag/v7.0.3333.2084) and in [PowerShell Gallery](https://www.powershellgaller

[2022-11-18 21:01] ChrisLynchHPE commented on #605
Closing due to no further activity.  If you wish, feel free to re-open to discuss further.

[2022-11-18 21:01] #605 closed, assigned to ChrisLynchHPE

[2022-11-27 20:09] olant commented on #610
Hi Chris,
I can confirm that HPEOneView.660 (6.60.3332.3428) returns the List also with Unassigned Networks. I stumbled across this issue because I am trying to create a SPT with unassigned Connections, but I cannot create such a ServerProfileConnection:
`$con1=New-OVServerProfileConnection -Name "mgmt_1" -ConnectionID 1 -ConnectionType Ethernet -Network Unassigned
The variable cannot be validated

[2022-11-27 20:24] ChrisLynchHPE commented on #610
As documented in the Cmdlet help:

'To create an unassigned connection, use the Unassigned keyword as the value.'

[2022-11-27 20:59] olant commented on #610
Thanks! I was not reading the error correctly...
`> $con1=New-OVServerProfileConnection -Name 'mgmt_1' -ConnectionID 1 -ConnectionType Ethernet -Network 'Unassigned'
The variable cannot be validated because the value  is not a valid value for the ApplianceConnection variable.
At C:\Program Files\WindowsPowerShell\Modules\HPEOneView.660\6.60.3332.3428\HPEOneView.660.psm1:114268 char:9
+         $Ap

[2022-11-28 16:05] ChrisLynchHPE commented on #610
@olant  This needs to be a new issue.  Please create a new one so we can track this appropriately.

[2022-11-29 13:09] olant opened #621 "New-OVServerProfileConnection with Network "Unassigned" throws an error"
The connection is created, but an error is thrown before. Tried in HPEOneView.660 Version 6.60.3332.3428

[code]

[2022-11-30 11:10] olant opened #622 "Enable-OVComposerIlo Parameter Validation Failure"
$InputObject is [ValidateNotNullorEmpty()], but this does not allow an unconfigured composer ilo object as Parameter:

[code]

Object is not empty:
[code]

A quick hack (remove parameter validation from module) makes it work.

[2022-11-30 15:13] ChrisLynchHPE commented on #622
While the variable isn't null, you are not providing the correct variable in your Cmdlet call.  You are passing `$ComposerAppliance` instead of `$Appliance`.   And the exception error contains another variable called `$_ilo`.  Are you sure you are passing the correct variable name?

[2022-11-30 16:37] olant commented on #622
Sorry, I tried to write the issue in a short form and mixed up some lines.
Yes, I do pass the correct variable and once I remove "[ValidateNotNullorEmpty()]" from the functtion's param definition for "[Object]$InputObject" it works fine and configures iLO settings as requested.

[2022-11-30 16:46] ChrisLynchHPE commented on #622
The `[ValidateNotNullorEmpty()]` is very intentional in Cmdlet design and cannot be removed.  This is a standard PowerShell mechanism, and nothing to do with the internals of the Cmdlet.  So, you are passing something incorrectly that happens to be null or contain a null entry within an array.

Are you by chance attempting to this with real hardware?

[2022-11-30 17:33] olant commented on #622
Yes, I have real hardware. I followed the example to be sure:
[code]

[2022-11-30 17:35] ChrisLynchHPE commented on #622
Can you do this:

[code]

Then reply with the results?  I'm suspecting that something null is being returned from `Get-OVComposerIloStatus`.

[2022-11-30 18:13] olant commented on #622
[code]

[2022-11-30 18:17] olant commented on #622
The argument is null, empty, or an element of the argument collection contains a null value. Supply a collection that **does not contain any null values**
Sure, some elemets are NULL, but that is expected.

[2022-11-30 18:30] ChrisLynchHPE commented on #622
The reference to null in the message does not indicate the property values.  There is a specific object in the variable that is null for some reason.  For instance, I was expecting a null array element in the JSON conversion, like this:

[code]

Let me look into this further, but I'm struggling to figure out why this is happening.

[2022-11-30 19:27] ChrisLynchHPE commented on #622
The issue isn't within the `-InputObject` parameter validation for `Enable-OVComposerIlo`.  Rather, there is an empty variable being returned to the pipeline within `Get-OVComposerIloStatus`.  To validate this, I would expect `2` to be returned when you executed:

[code]

Now, do this, and I would expect `1` to be returned

[code]

You can use the `.Where()` method to work around this issue until